/* 
	Visual component boxes 
	Version : 1.2
	Filename : _boxes.css
	Type: DEVOLVED - External / Internal  
	Date created : 31/10/2006
	Validates : CSS2, CSS2.1, CSS3
								
	Known issues: 
	- Netscape v4 does not recognise background colours or float positioning,
	- IE exhibits a problem with boxes when inside a floating container, need to apply position: relative hack,
	- Boxes are elastic by default, use break-word attribute to stop IE causing boxes to float down							
*/

/* IE hacks */
.boxsplashleader,
.boxpromo { word-wrap: break-word; }
.boxpromo .footer { position: relative; }
/* need position relative for IE bug http://www.evolt.org/article/MSIE6_bug_with_floating_divs_and_spacers/17/23899/ */
/* need this for IE bug with clearing float inside and hiding other container content */

/* Splash image box for home pages */
.boxsplashhome { font-size: 1em; margin: 0; padding: 0; overflow: hidden; height: 150px; }
.boxsplashhome .header { float: left; height: 100%; width: 450px; }
.boxsplashhome .header h2 { color: #ffffff; font-size: 1.2em; margin: 0; padding: 0.5em 0.5em 0.3em 0.6em; width: 200px; }
.boxsplashhome .header p { color: #ffffff; font-size: 1em; padding: 0 0.5em 0.3em 0.6em; width: 200px; }
.boxsplashhome .header img { float: right; }

/* Splash image box for leader pages */
.boxsplashleader { font-size: 1em; border-bottom: 10px solid #cccccc; margin: 0 0 1em 0; padding: 0; overflow: hidden; word-wrap: break-word;}
.boxsplashleader h1 { font-size: 1.1em; color: #ffffff; margin: 0; padding: 0.3em 0 0.3em 0.6em; line-height: 1.2; }
.boxsplashleader .header { height: 1%; }
.boxsplashleader .body { height: 183px; line-height: 1.2; }
.boxsplashleader .footer { width: 90%; clear: both; }

/* Promo boxes for home and leader pages */
.boxpromo { font-size: 1em; margin-top: 0.8em; line-height: 1.2em; word-wrap: break-word; width: 100%;}
.boxpromo .header, 
.boxpromo .body { font-size: 0.85em; padding: 0.3em 0.7em 0.3em 0.8em; }
.boxpromo .footer { margin: 0; padding: 0; height: 1px; width: 90%; clear: both;}
.boxpromo .body { padding-top: 0.8em; }
.boxpromo h2 { font-size: 1.1em; }
.boxpromo .header h2 { margin: 0; padding: 0; }
.boxpromo .body h2 { margin: 0 0 0.5em 0; padding: 0; }
.boxpromo p { margin: 0; padding: 0 0 0.5em 0; }
.boxpromo ul { margin: 0; padding: 0 0 0.5em 0; }
.boxpromo ul li { margin: 0 0 0 2em; padding: 0; }
.boxpromo img {	float: left; border: 1px solid black; background-color: #f5f5f5; margin-right: 1.1em; margin-bottom: 0.4em;padding: 0; }

/* Advert boxes for third column on content pages */
.boxadvert { background-color: #ffccff; width: 170px; }
.boxadvert h2 { background-color: #cc3399; color: #ffffff; font-size: 0.9em; font-weight: bold; margin: 0; padding: 0.5em 0.8em;}
.boxadvert img { border-top: 1px solid #000000; border-bottom: 1px solid #000000; }
.boxadvert-strapline { font-size: 0.85em; line-height: 1.3em; margin: 0; padding: 0.5em 1em 1.2em 1em; }

/* Pullquote boxes for content pages*/
.boxquote { background-color: #f5f5f5; font-size: 0.85em; margin: 0.5em 0 0 0; padding: 0.8em; width: 15em; float: left; margin-right: 1.4em; margin-bottom: 0.5em; }
.boxquote-quotation { padding-bottom: 1em; line-height: 1.4em; }
.boxquote-author { border-top: 1px dashed #999999; font-weight: bold; margin: 0; padding-top: 0.5em; text-align: right; width: 100%; }
.boxquote-small { width: 15em; }
.boxquote-large { width: 20em; }

/* Image boxes for content pages */
.boximage { background-color: #f5f5f5; color: inherit; display: block; font-size: 0.85em; margin: 0.8em 1.4em 0.5em 0; padding: 0; width: 152px; float: left; text-align: left; }
.boximage img { border: 1px solid #666666; }
.boximage-strapline { font-size: 1em; margin: 0; padding: 0.5em 0.6em 0.8em 0.8em; }
.boximage-strapline-left { 
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0.6em 0.8em 0.8em;
	float: left;
	vertical-align: top;
 }
.boximage-strapline-right {
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0.6em 0.8em 0.8em;
	float: right;
	vertical-align: top;
}
.boximage-strapline-hidden .boximage-strapline { display: none; }
.boximage-width-100px { width: 102px; }
.boximage-width-125px { width: 127px; }
.boximage-width-150px { width: 152px; }
.boximage-width-175px { width: 177px; }
.boximage-width-200px { width: 202px; }
.boximage-width-225px { width: 227px; }
.boximage-width-250px { width: 252px; }
.boximage-width-275px { width: 277px; }
.boximage-width-300px { width: 302px; }
.boximage-width-350px { width: 352px; }
.boximage-width-400px { width: 402px; }

.boximage-width-450px { width: 452px; }
.boximage-width-500px { width: 502px; }
.boximage-width-550px { width: 552px; }
.boximage-width-600px { width: 602px; }
.boximage-width-650px { width: 652px; }
.boximage-width-700px { width: 702px; }
.boximage-width-750px { width: 752px; }
.boximage-width-800px { width: 802px; }
/* Class to position boxes within content container */
.box-float-left { float: left; margin-right: 1.4em; margin-bottom: 0.5em; }
.box-float-right { float: right; margin-left: 1.4em; margin-right: 0.3em; margin-bottom: 0.5em; }

/* Classes used to position images in boxes */
.box-imagefloat-left img { float: left; margin-right: 1.1em; margin-bottom: 0.4em; }
.box-imagefloat-right img { float: right; margin-left: 1.1em; margin-bottom: 0.4em; }
.box-image-hidden img { display: none; }

/* Classes used to apply colour box-pallete-s for foreground and backgrounds of content boxes */
/*  
pallete				shade 0 shade 1 shade 2
red					cc0000	ff9999	ffcccc
blue				0066cc	3399ff	99ccff
green				009933	66cc66	ccffcc
turquoise			009999	66cccc	ccffff
mauve				cc3399	ff99cc	ffccff
*/
/* Single-colour palletes */
/* Grey background */
.box-pallete-grey { background-color: #f5f5f5; color: inherit; }
.box-pallete-greyred { background-color: #f5f5f5; color: inherit; }
.box-pallete-greyred h2 { background-color: #f5f5f5; color: #cc0000; }
.box-pallete-greyblue { background-color: #f5f5f5; color: inherit; }
.box-pallete-greyblue h2 { background-color: #f5f5f5; color: #0066cc; }
.box-pallete-greygreen { background-color: #f5f5f5; color: inherit; }
.box-pallete-greygreen h2 { background-color: #f5f5f5; color: #009933; }
.box-pallete-greyturquoise { background-color: #f5f5f5; color: inherit; }
.box-pallete-greyturquoise h2 { background-color: #f5f5f5; color: #009999; }
.box-pallete-greymauve { background-color: #f5f5f5; color: inherit; }
.box-pallete-greymauve h2 { background-color: #f5f5f5; color: #cc3399; }

/* White background */
.box-pallete-white { background-color: #ffffff; color: inherit; }
.box-pallete-whitered { background-color: #ffffff; color: inherit; }
.box-pallete-whitered h2 { background-color: #ffffff; color: #cc0000; }
.box-pallete-whiteblue { background-color: #ffffff; color: inherit; }
.box-pallete-whiteblue h2 { background-color: #ffffff; color: #0066cc; }
.box-pallete-whitegreen { background-color: #ffffff; color: inherit; }
.box-pallete-whitegreen h2 { background-color: #ffffff; color: #009933; }
.box-pallete-whiteturquoise { background-color: #ffffff; color: inherit; }
.box-pallete-whiteturquoise h2 { background-color: #ffffff; color: #009999; }
.box-pallete-whitemauve { background-color: #ffffff; color: inherit; }
.box-pallete-whitemauve h2 { background-color: #ffffff; color: #cc3399; }

/* Multi-colour (shade 1 background) palletes */
.box-pallete-darkred { background-color: #ff9999; color: inherit; }
.box-pallete-darkred .header { background-color: #cc0000; color: inherit; }
.box-pallete-darkred .header h2 { background-color: #cc0000; color: #ffffff !important; }

.box-pallete-darkblue { background-color: #3399ff; color: inherit; }
.box-pallete-darkblue .header { background-color: #0066cc; color: inherit; }
.box-pallete-darkblue .header h2 { background-color: #0066cc; color: #ffffff !important; }

.box-pallete-darkgreen { background-color: #66cc66; color: inherit; }
.box-pallete-darkgreen .header { background-color: #009933; color: inherit; }
.box-pallete-darkgreen .header h2 { background-color: #009933; color: #ffffff !important; }

.box-pallete-darkturquoise { background-color: #66cccc; color: inherit; }
.box-pallete-darkturquoise .header { background-color: #009999; color: inherit; }
.box-pallete-darkturquoise .header h2 { background-color: #009999; color: #ffffff !important; }

.box-pallete-darkmauve { background-color: #ff99cc; color: inherit; }
.box-pallete-darkmauve .header { background-color: #cc3399; color: inherit; }
.box-pallete-darkmauve .header h2 { background-color: #cc3399; color: #ffffff !important; }

/*	Multi-colour (shade 2 background) box-pallete-s */
.box-pallete-red { background-color: #ffcccc; color: inherit; }
.box-pallete-red .header { background-color: #cc0000; color: inherit; }
.box-pallete-red .header h2 { background-color: #cc0000; color: #ffffff !important;	}
.box-pallete-red .boxquote-author { border-top: 1px dashed #cc0000; }

.box-pallete-blue { background-color: #99ccff; color: inherit; }
.box-pallete-blue .header { background-color: #0066cc; color: inherit; }
.box-pallete-blue .header h2 { background-color: #0066cc; color: #ffffff !important; }
.box-pallete-blue .boxquote-author { border-top: 1px dashed #0066cc; }

.box-pallete-green { background-color: #ccffcc; color: inherit; }
.box-pallete-green .header { background-color: #009933; color: inherit; }
.box-pallete-green .header h2 { background-color: #009933; color: #ffffff !important; }
.box-pallete-green .boxquote-author { border-top: 1px dashed #009933; }

.box-pallete-turquoise { background-color: #ccffff; color: inherit; }
.box-pallete-turquoise .header { background-color: #009999; color: inherit; }
.box-pallete-turquoise .header h2 { background-color: #009999; color: #ffffff !important; }
.box-pallete-turquoise .boxquote-author { border-top: 1px dashed #009999; }

.box-pallete-mauve { background-color: #ffccff; color: inherit; }
.box-pallete-mauve .header { background-color: #cc3399; color: inherit; }
.box-pallete-mauve .header h2 { background-color: #cc3399; color: #ffffff !important; }
.box-pallete-mauve .boxquote-author { border-top: 1px dashed #cc3399; }

.box-pallete-purple { background-color: #cc99ff !important; color: inherit; }
.box-pallete-purple .header { background-color: #660099 !important; color: inherit; }
.box-pallete-purple .header h2 { background-color: #660099; color: #ffffff !important; }
.box-pallete-purple .boxquote-author { border-top: 1px dashed #660099; }

/* Home icon hover */
.primaryNav ul.megaMenu li.menuItem a.home:hover {background: url(../images/icon-home-dark.png) 50% 50% no-repeat;}
/* Hyperlinks - default colour is purple - #6b2c91 */
.mainContentContainer a:hover { color: #343536; }
.mainContentContainer a:visited { color: #af1600; }

.masthead-pagination td a { color: #fff !important; }

.courseFinder-inner a:hover { color: #ffd300; text-decoration: underline; }
.courseFinder-inner a:visited { color: #ffd300; }

/*
.search-info-panel {background-color: #6b2c91; color: #ffffff; }
.search-info-panel { padding: 1em; border: 1px solid #ffffff; }
*/
.search-info-panel li { margin: 2.5em 0; }
.search-info-panel a.button-dark-grey, .search-info-panel a.button-white { padding: 15px; border-radius: 4px; text-decoration: none; text-align: center; width: 40%; min-width: 200px; vertical-align: top; }
.search-info-panel a.button-dark-grey { background-color: #383a3c; color: #ffffff; border: 1px solid #383a3c;  }
.search-info-panel a:hover.button-dark-grey { background-color: #424547; color: #ffffff; border: 1px solid #424547; }
.search-info-panel a:active.button-dark-grey { background-color: #1d2022; color: #ffffff; border: solid 1px #1d2022; }
.search-info-panel a.button-white { background-color: #ffffff; color: #343536 !important; border: 1px solid #090909; }
.search-info-panel a:hover.button-white { background-color: #ffffff; color: #343536 !important; border: 1px solid #c0c0c0; }
.search-info-panel a:active.button-white { background-color: #e4e4e4; color: #343536 !important; border: 1px solid #c0c0c0; }

.width225 { min-width: 225px; }

/* For database a to z buttons */
.search-info-panel a.small-button-dark-grey, .search-info-panel a.small-button-inactive { padding: 15px; border-radius: 4px; text-decoration: none; text-align: center; min-width: 20px; margin: 1px; } 
.search-info-panel a.small-button-dark-grey { background-color: #383a3c; color: #ffffff; border: 1px solid #383a3c;  }
.search-info-panel a:hover.small-button-dark-grey { background-color: #424547; color: #ffffff; border: 1px solid #424547; }

.search-info-panel a.small-button-inactive { background-color: #383a3c; border: 1px solid #383a3c; color: #656565 !important;} 

a.small-button-dark-grey { padding: 15px; border-radius: 4px; text-decoration: none; text-align: center; min-width: 20px; margin: 1px; } 
a.small-button-dark-grey { background-color: #383a3c; color: #ffffff; border: 1px solid #383a3c;  }
a:hover.small-button-dark-grey { background-color: #424547; color: #ffffff; border: 1px solid #424547; }

a.-button-dark-grey, a.-button-inactive { padding: 7px; border-radius: 4px; text-decoration: none; text-align: center; min-width: 3em; margin: 2px; } 
a.-button-dark-grey { background-color: #383a3c; color: #ffffff; border: 1px solid #383a3c;  }
a:hover.-button-dark-grey { background-color: #424547; color: #ffffff; border: 1px solid #424547; }
a:visited.-button-dark-grey, a:visited.small-button-dark-grey { color: #fff; }

/* lists of links as buttons */

ul.buttons_list { list-style-type: none; margin: 0 0 2em 0; float: left; position: relative; left: -3.25em; }
ul.buttons_list li { display:inline; }

/* Databases - link out icon */

.link_icon { width: 28px; height: 13px; background: url(/assets/images/local/link-out-default.png) top left no-repeat; display:inline;}
a:hover .link_icon { width: 13px; height: 13px; background: url(/assets/images/local/link-out-hover.png) top left no-repeat;  }

/* Formatting */

.cleanright { clear: right; }


/* temp fixes */

li li { font-size: 1em; }
h2 { font-size: 2.3em; }

/* Spotlights - book boxes */
.banner .non-imageBanner-content .largeTitle { font-size: 2em; font-weight: 400; 
line-height: 1.3em; padding: 0; }
.banner .non-imageBanner-content .description { margin: 0 0 1em; display: block;
font-size: 1.4em; line-height: 1.4em; color: black; }

/* Home page - promo button */
.masthead-slide-content	p.button {
margin-top: 6px;
}

/* HISTORY STYLES */
#history { float: left; width: 697px; position: relative; background: #e3e3e3 url(/assets/images/local/deansgate-line-718-10.png) no-repeat bottom left; color: #FFF; padding: 27px 0 24px 0; margin: 0; overflow: hidden }

#history-item-scroller { float: left; margin: 0 0 0 15px; width: 686px; overflow: hidden } 
#history-item-scroller ul { float: left; /*width: 1500px;*/ margin: 0; padding: 57px 0 190px 0; list-style-type: none }
#history-item-scroller li { float: left; width: 127px; height: 116px; padding: 12px 0 0 0; margin-right: 11px; background: #797979 url(/_assets/_images/deansgate-history-box-shadow-127.jpg) no-repeat bottom left; text-align: center }


#history dl { float: left; width: 718px; padding: 0; margin: 0;}
#history dt { float: left; color: #333; clear: left; }
#history .dd-item { float: left; width: 429px; background: #333333 url(/assets/images/local/deansgate-history-box-shadow.jpg) no-repeat bottom left; padding: 26px 0 16px 0 }
	#history h2 { font-family: verdana, sans-serif; font-weight: bold; color: #bbba12; font-size: 1.3em; margin: 0; padding: 0; line-height: 1em }
	#history h3 { font-family: verdana, sans-serif; font-weight: bold; color: #FFF; margin: 0 0 4px 0; padding: 0 }
	#history .dd-col-left { float: left; width: 152px; padding: 0 25px 23px 27px; overflow: hidden }
	#history .dd-col-left img { float: left; margin-bottom: 17px }
	#history .dd-col-left ul{ margin: 0; padding: 0; list-style-type: none; color: #bbba12; line-height: 1.5em }
	#history .dd-col-left a { color: #bbba12 }
	#history .dd-col-right { float: left; width: 170px; padding: 0 0 23px 0; position: relative } 
	#history .dd-col-right h3, #history .dd-row-bottom h3 { color: #bbba12; font-weight: normal; margin: 0 0 7px 0 }
/* ******************************************** */
	#history .dd-row-top { float: left; width: 322px; padding: 0 25px 23px 27px; overflow: hidden }
	#history .dd-row-bottom { float: left; width: 322px; padding: 0 0 23px 0; position: relative }
	#history .dd-row-top img { float: left; margin-bottom: 17px }

/* SPECFIC STYLES USED FOR JS VERSION ONLY */
#history.jsenabled dl { display: none }
#history.jsenabled .dd-item { position: absolute; top: 27px; left: 142px; height: 333px; }
#history.jsenabled .dd-col-right { padding: 0 } 
#history #history-timeline li, .page-interior.page-deansgate #history-item-scroller li { cursor: pointer }
/* END JS SPECIFIC STYLES */
	
#history #history-timeline { float: left; clear: left; width: 681px; margin: 0 0 0 7px; background: url(/assets/images/local/deansgate-history-slider-bg.jpg) no-repeat 50% bottom; position: relative; z-index: 100 }
#history #history-timeline-innerframe{ float: left; width: 638px; position: relative; overflow: hidden; height: 68px; margin: 0 0 0 11px }
#history #history-timeline-innerframe-inner {  }
#history #history-timeline img { float: left; margin: 17px 0 0 0; cursor: pointer }
#history #history-timeline img#scroll-right { float: right }
#history #history-timeline ul { float: left; height: 61px; background: url(/assets/images/local/deansgate-history-slider-ul-bg.gif) repeat-x 0 13px; margin: 0; padding: 9px 0 0 0; list-style-type: none; line-height: 1.3em; position: relative; z-index: 2 }
#history #history-timeline li { float: left; width: 97px; padding: 0 0 0 5px }
#history #history-timeline li.down { padding-top: 23px }
#history #history-timeline-dragger { display: none; position: absolute; left: 1px; top: 27px; width: 99px; font-size: 1px; height: 3px; background: #bbba12; border-bottom: solid 1px #85841f; }

#history #history-timeline .blipsContainer {
	background: url(/_assets/_images/blank.gif);
	height: 61px;
    position:absolute;
    color:white;
    left:0;
    top:0;
    padding:0;
    margin:0;
	z-index:3;
	font-size: 1px;
}

#history #history-timeline .blipsContainer li { float: left; width: 97px; height: 61px; padding: 0 0 0 5px; overflow: hidden }

#history #history-timeline .blipsContainer .blip {
	float: left; 
	width: 97px; 
	padding: 0 0 0 5px;
	height: 61px;
}
#history #history-timeline .blipsContainer .blipSelected {
	width: 99px;
	height: 3px;
	border-bottom: solid 1px #85841f; 
    background: #bbba12;
	margin-top: 27px;
	padding: 0 0 0 0;
	position: relative;
	left: -4px;
}

.ui-slider { position: relative; text-align: left;  }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider a:focus { outline: 0 }
.ui-slider-vertical { float: left; width: 4px; height: 282px; background: #585858; margin-top: 28px; position: relative; left: 39px; z-index: 10 }

.dd-slider-wrap { width: 4px; height: 310px; background: #585858; position: absolute; top: 26px; right: 12px; z-index: 5  }

.ui-slider-vertical .ui-slider-handle { position: absolute; left: -2px; margin-left: 0; background: #a4a4a4 url(/assets/images/local/deansgate-history-scroll-handle.gif) no-repeat; width: 8px; height: 28px; z-index: 100; cursor: pointer }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/* END HISTORY STYLES */

/* MAP STYLES */
#content-map { float: left; width: 100% }
#content-map #map-pane { float: left; width: 477px; border: solid 1px #bbba12 }
#content-map #map { float: left; width: 477px; height: 398px; padding: 0; margin: 0 }
#content-map #map img { position: relative; right: 22px; top: 4px }
#content-map #map #map-thumbnail-image { right: 0; top: 0; float: left }
#content-map #map a img{ right: 0; top: 0;}
#content-map #map p { float: left; padding: 8px 0 0 9px; font-family: verdana, arial, sans-serif; font-size: 10px; color: #333 }
#content-map #map-supplementary { float: left; width: 180px; padding: 0 0 0 15px; position: relative; top: -5px; }
#content-map #map-supplementary h2 { margin-bottom: .4em }
#content-map #map-supplementary .extraspacing p { line-height: 1.7em; margin-bottom: .9em }
#content-map #map-supplementary a { float: none;  }
#content-map #map-supplementary div { float: left; width: 152px; background: url(/images/local/deansgate-line.png) no-repeat bottom left; padding: 0 10px 7px 19px; margin-bottom: 10px; }
#map-popup-content { width: 250px }
/* END MAP STYLES */

/* Opening Times */
ul.opening-times { list-style-type: none; padding: 0 0.5em 0.5em 0.5em; border-bottom: solid 1px #949699; margin: 0 0 1em 0; }
.opening-times h3 { font-weight: 400; font-size: 1.5em; margin: 0; }
.opening-times h4, .opening-times h5 { font-weight: 400; font-size: 1.25em; margin: 0; line-height: 1.35em;  color: #000; }
.opening-times li { margin: 0.5em 0; padding: 0.5em; /*color: #383b3c;*/ }

.day-name { font-weight: 400; color: #000; width: 45%; float: left; }
@media only screen and (min-width: 700px) {
		.day-name { width: 35%; }
}

.opening-times-notes { display: block; font-size: 1.1em; margin: 1.25em 0 0 0; }
.opening-times-notes p { font-size: 1em; }
/* End of Opening times */

/* ********** My Learning Essentials ********** */

.mle_item {
	margin: 0.75em 0;
	margin-bottom: 0.5em;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	background-color: #f9f9f9;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 95%
}
.featured {
	background: #CC3399;
	color: #fff;
	padding: 6px 24px !important;
	position: relative;
	left: -12px !important;
	top: 1px !important;
	border-radius: 0 !important; /*reset radius */
	border-top-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	font-size: 1.3em;
	font-weight: 400;
}
.mle_title {
	margin-bottom: 0;
	padding: 0;
	width: 80%;
}
.mle_body {
	padding: 0;
}
.mle_description {
	display: block;
	width: 100%;
	vertical-align: top;
	margin-right: 0.5em;
}
.mle_detail {
	/*display: inline-block; width: 30%;*/
	vertical-align: top;
	margin-right: 0.5em;
}
.mle_detail ul {
	list-style-type: none;
	list-style-image: none;

}
.mle_detail li {
	left: -3em;
	position: relative;
	top: -0.5em;
	color: #333;
}
.mle_button {
	display: block;
	/*position: relative;*/
	/*top: 3.25em;*/
	/*float: right;*/
	padding: 5px;
	border-radius: 4px;
	margin: 0.25em 0 1.75em 1.5em;
	width: 20%;
	text-align:center;
}
.mle_button a:link, .mle_button a:active, .mle_button a:visited {
	color: #FFF !important;
	text-decoration: none;
	font-size: 1.05em;
}
.mle_resource {
	border: solid 1px #399;
	background-color: #399;
}
.mle_workshop {
	border: solid 1px #609;
	background-color: #609;
}
.mle_footer {
/*	border-bottom: solid 1px #ccc;*/
}

.tags_list, .fine-detail {
	color: #090909;
}
.tags {
	color: #09F;
}

@media  (min-width: 720px)
{
	.mle_title { width: 77%; }
	.mle_description { display: inline-block; width: 77%; }
	.mle_button { display: inline-block; width: 15%;  float:right; margin: 0.75em 0; }
	.mle_detail { display: block; }
	.mle_tags { display: block; }
}

/* ************************ END OF MLE ************************ */

/* Primary nav mods */
.megaContent {
	box-shadow: 0px 5px 5px 0px rgba(97, 98, 90, 0.5);
}
.megaSubPanel p a {
color: #6a2c91;
font-weight: 600;
}
.megaSubPanel li a {
display: block;
font-size: 0.875em !important;
font-weight: 400;
/*line-height: 1.1;*/
margin-bottom: 0.25em;
color: #383b3c !important;
}

/* body */

p {
font-size: 1.2em;
line-height: 2em;
padding: 0 0 1em;
color: #343536;
font-weight: 400;
}

blockquote { text-transform: none !important; margin: 0 0.5em; }

li {color: #343536; line-height: 1.3em; }

li p { font-size: 1em; }

/* Search results */

.searchresults {
	font-size: 1.25em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.searchresults-statistics {
background-color: #f5f5f5;
border-top: 1px solid #e4e4e4;
border-bottom: 1px solid #e4e4e4;
font-size: 0.9em;
margin: 0;
padding: 0 0.5em;
width: auto;
display:none;
}
.searchresults-statistics p { color: #383b3c; }
.searchresults-widensesearch { display:none; }
.searchresults-widensesearch p { font-size: 0.9em; }
.searchresults p {
	margin: 1.25em 0;
}
.searchresults-data dl b {
	font-weight: 600;
	/*text-decoration: underline;*/
}
.searchresults-data dl dt {
	padding: 1.25em 0 0.75em 0;
	margin-top: 1.5em;
	font-size: 1.25em;
	line-height: 1.3em;
	border-top: 1px solid #e4e4e4;
}
.searchresults-data dl dt a {
	text-decoration: none;
	/*border-bottom: 1px solid #6b2c91;*/
}
.searchresults-data dl dt a:hover {
	text-decoration: none;
	border-bottom: 1px solid #79379d;
}

.searchresults-data dl dd {
	font-size: 1em;
	margin-top: 0.25em;
	padding: 0;
}
.searchresults-data .snippet {
	padding: 0.3em;
	color: #343536;
}
.searchresults-data .snippet b {
	font-weight: 400;
	color: #606060;
}
.searchresults-data .url {
	color: #949699;
	padding: 0;
	margin-top: 0.75em;
	font-size: 0.9em;
}
.searchresults-data .size, .searchresults-data .moreresults {
	color: #949699;
	padding: 0;
}

.searchresults-navigation {
margin: 1em 0 2.5em 0;
padding: 0;
width: 98%;
}
.searchresults-navigation ul li {
display: inline;
float: left;
/* margin: 0; */
/*padding: 7px;*/
font-size: 0.9em;
width: auto;
}
.searchresults-navigation li.currentpage {
padding: 0.5em;
border: 1px solid #c0c0c0;
background-color: #e4e4e4;
margin: 0 0 0.25em 0.25em;
border-radius: 4px;
color: #343536;
min-width: 1.25em;

}
.searchresults-navigation ul li a {
display: block;
padding: 0.5em;
margin: 0 0 0.25em 0.25em;
min-width: 1.25em;
text-align: center;
border: 1px solid #090909;
background-color: #ffffff;
border-radius: 4px;
color: #343536;
text-decoration: none;
}
.searchresults-navigation ul li a:hover {
	border-color: #c0c0c0;
	text-decoration: none;
}

/* Site Map */
.sitemap ul {
	position: relative;
	left: -0.4em;
	list-style-type:  disc;
	color: #e4e4e4; 
	padding: 5px 0 0 0;
}
.sitemap ul li {padding: 4px 0; margin: 1px 0px;}

@media screen and (max-width: 400px) {
	.sitemap ul { position: relative; left: -1em; list-style-type:none;}
}
/* Open Access formatting */
#questions h2 {
display: block;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 1.2em;
text-align: center;
line-height: 1.2em;
margin: 0.2em 0 0 0;
color: #333333 !important;
border: none;
}
#questions p {
display: block;
margin-top: 0.8em;
margin-bottom: 1.2em;
font-size: 0.9em;
line-height: 1.2em;
text-align: center;
border: none;
}
.col-left, .col-center/*, .col-right*/ {
display: inline-block;
vertical-align: middle;
height: 100px;
}
.col-left {
width: 35%;
}
.col-center {
width: 30%px;
}
/*.col-right {
width: 260px;
}*/
.question .buttons {
display: block;
text-align: center;
}
.buttons ul {
display: block;
margin: 0.8em 0 0 0;
padding: 0;
text-align: center;
border: none;
}
.buttons li {
display: inline-block;
margin: 0;
padding: 0;
}
.buttons a {
float: left;
border: 1px solid #d3d3d3;
background: #e6e6e6 url('http://code.jquery.com/ui/1.10.2/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
padding: 0.3em 0.8em;
color: #666666;
font-weight: bold;
font-size: 1em;
border-radius: 4px;
text-decoration: none;
}

/* Library Search form - advanced search, login for best results font size */
.courseFinder-inner a { font-size: 1.1em; }

/* My Account button in page banner */

.mobile-menu-icon img { padding: 14px 2px 14px 6px; }
.search-icon img { padding: 14px 6px }

.my-account-icon { display: block; float: right; margin: 0 5px 0 0; cursor: pointer; }
.my-account-icon img { vertical-align: top; display: block; padding: 14px 6px; }
.my-account-icon span { display: none; }

@media only screen and (min-width: 800px) {
	.search-icon img, .my-account-icon img { padding: 14px; }
}

@media only screen and (min-width: 960px) {
	.my-account-icon {	margin: 0 5px 0 0; padding: 0; border: 1px solid #999; border-radius: 10px; }
	.search-icon { border: 1px solid #999; }
	a.my-account-icon:hover, a.search-icon:hover { border: solid 1px #c0c0c0; }
	a.my-account-icon:active, a.search-icon:active { background-color: #e4e4e4; }
	
}

@media only screen and (min-width: 1200px) {
	.my-account-icon { margin: 5px 5px 5px 0; }
	.my-account-icon img { display: none; }
	.my-account-icon span { display: inline-block; padding: 10px; font-size: 1.5em; }
}

@media only screen and (min-width: 1600px) {
	.my-account-icon span { font-size: 1.8em; }
}
/* Library Search form header and My Account button  KB 4/6/2015 */
.library-search-heading {
	margin-bottom: 1.5em;
}
.library-search-heading h2, .library-search-heading .my-account-button {
	display: block;
}

a.my-account-button {
	background-color: #383a3c;
	border-radius: 4px;
	padding: 8px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 88%;
	margin: 0 auto;
	font-weight: 400;
	font-size: 1.1em
}
a.my-account-button:hover {
	background-color: #424547;
}
 @media screen and (min-width: 600px) {

	.library-search-heading { margin-bottom: 2.5em; }
	.library-search-heading h2 { padding: 0; }
	.library-search-heading h2, .library-search-heading .my-account-button { display: inline; }
	.my-account-button { float: right; margin: 0; }
	a.my-account-button { width: 15%; }
/* search form formatting */
	.librarySearchContainer { float: left; width: 95%; }	
	.librarySearchAdvancedContainer { float: left; clear: left; width: 95%; }

}

/*.tabsContainer li a { color: #343536 !important; }*/

/* Search Resources - addition to prevent tabs wrapping round on screens less that 1200px wide - KB  4/6/2105 */
@media screen and (max-width: 1200px) {
			/* Tab / Accordion */
		.tabsContainer								{display:none; }
		
		.panel 										{background:#6B2C91;}
		.panel .panelDetails						{display:none;}
		.panel.active .panelDetails					{display:block; padding:10px;}
		.panel .panelDetails p						{color:white;}


		.panel .panelTitle 							{display:block; margin:0; padding:0; background:#555; font-size:1.4em;}		
		.panel .panelTitle a						{display:block; padding:20px 0 20px 35px; background: url(../images/design/icon-right-arrow-white.png) 10px 45% no-repeat; text-decoration:none; color:white!important; border-bottom:1px solid #ccc;}
		.panel .panelTitle a.active 				{background: url(../images/icon-down-arrow-white.png) 7px 50% no-repeat; border-bottom:0;}
}
/* The John Rylands Library - Education Visits 17-06-2015 */

.workshop-identifier { margin-bottom: 20px; border-bottom: 1px solid #c4c4c5; display: block; }
.workshop-image { padding: 0.75em 0.75em 0.75em 0; float: right; width: 75px; height: 75px; }
.workshop-description { position: relative; padding: 0.75em 0; }

@media only screen and (min-width: 600px) {
	.workshop-image {  width: 150px; height: 150px; }
}
