@charset "utf-8";
/* CSS Document */
/* CHAT WIDGET */

.chat-widget {
	width: 218px;
	height: 305px;
	background-color: #fff;
	position: relative;
	left: -7px;
	border-radius: 5px;	
}
.chat-placeholder {
	font-size: 1.2em;
	width: 210px;
	height: 299px;
	padding: 4px;	
}

.libraryh3lp iframe[style] {
	width: 215px !important;
	height: 300px !important;
	border-radius: 5px;
	position: relative;
	left: -4px;	
}
.chat-lh-placeholder .libraryh3lp iframe[style] {
    width: 100% !important;
}
.needs-js {
}
.needs-js a {
}
.needs-js a:hover {
}

/* CHAT WIDGET */

	.chat-service-libhelp, .chat-service-qp, .chat-service-lh-libhelp, .chat-service-lh-qp { width: 96%; margin: 6px 0; color: #fff; font-weight: 400; padding: 4px; }
	.chat-service-qp, .chat-service-lh-qp { width: 90%; }
	
	.chat-service-lh-libhelp, .chat-service-lh-qp { color: #343536; }
	
/* LibraryHelp */
	.chat-widget {	width: 218px; height: /*305px*/ 315px; background-color:#cc0099; position: relative; left: 11px; top: 10px; }
	.chat-placeholder, .chat-lh-placeholder { font-size: 1.2em; width: 210px; height: /*299px*/305px; padding: 4px; background-color: #fff; border-radius: 4px; }	
	.chat-lh-placeholder { width: 98%; max-width: 320px; background-color: transparent; }
	
	.libraryh3lp iframe[style] { width: 215px !important; height: 300px !important; border-radius: 5px; position: relative; left: -4px;	}
	.needs-js {}
	.needs-js a {}
	.needs-js a:hover {}
	
/* QuestionPoint */
	div#questionpoint.chatwidget1	{ border-radius:4px; width: 215px; height: 300px; }
	div#questionpoint.chatwidget1 iframe[style] {border-radius: 4px; }
	.chat-qp-placeholder { font-size: 1.2em; /*width: 210px;*/width: 220px; height: 305px; padding: 4px; }
	.chat-qp-lh-placeholder { width: 98%; max-width: 320px; height: 310px; background-color: transparent; overflow:hidden;}
	
		/* Live Chat */
	.uom_liveChat_container						{position:fixed; top:196px; right:0px; z-index:999999;
													-webkit-transition: all 500ms;
													-moz-transition: all 500ms;
													-ms-transition: all 500ms;
													transition: all 500ms;}
			
	.uom_liveChat_container.hide 			{right:-240px;}

	.uom_liveChat_tab         {position:absolute; top:0px; left:-35px; width:35px; height:120px; background:#cc0099; border-radius:4px 0 0 4px; cursor:pointer;}
		
	.uom_liveChat_tab p     {position:absolute; bottom:45px; left:-31px; background:#cc0099; color:white; padding:0; font-size:16px; width:100px; 																		-webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform:rotate(270deg); transform:rotate(270deg); filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
		
	.ie9 .uom_liveChat_tab p,
	.lt-ie9 .uom_liveChat_tab p         {bottom:70px; left:0px;}

	.uom_liveChat_details 				{width:240px; height:/*325px*/400px; background-color:#cc0099; margin:0; padding:0;}		
		
	.uom_liveChat_title 				{color:white; font-size:1.4em; margin:0 0 10px; padding:0; }

	.uom_liveChat_message_history 		{background-color:#fff; margin:0 0 20px; width:100%; height:180px; border-radius:5px;}
	.uom_liveChat_message		 		{background-color:#fff; width:165px; height:40px; border-radius:5px; padding:5px;}

/* ********** End Library Chat ********** */	