	/*
	.onecol 									{width:4.85%;}
	.twocol 									{width:13.5%;}
	.threecol 									{width:22.15%;}
	.fourcol 									{width:30.8%;}
	.fivecol 									{width:39.45%;}
	.sixcol 									{width:48.1%;}
	.sevencol 									{width:56.75%;}
	.eightcol 									{width:65.4%;}
	.ninecol 									{width:74.05%;}
	.tencol 									{width:82.7%;}
	.elevencol 									{width:91.35%;}
	.twelvecol 									{width:100%; float:left;}
	*/
	
	
	/*------------------------------------------------------------------------------------------------------------*/
	/*	RESET CSS															  						  	  	  	  */
	/*------------------------------------------------------------------------------------------------------------*/

		/* RESET EVERYTHING (except lists) */
		html, body, div, span, object, iframe, 
		h1, h2, h3, h4, h5, h6, 
		p, blockquote, pre, abbr, address, 
		cite, code, del, dfn, em, img, ins, 
		kbd, q, samp, small, strong, 
		sub, sup, var, b, i, dl, dt, dd,  
		fieldset, form, label, legend, 
		table, caption, tbody, tfoot, 
		thead, tr, th, td, article, aside, 
		canvas, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, 
		section, summary, time, mark, 
		audio, video 									{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}


	/*------------------------------------------------------------------------------------------------------------*/
	/*	New Defaults															  						  	  	  */
	/*------------------------------------------------------------------------------------------------------------*/
		
		article, aside, details, 
		figcaption, figure, 
		footer, header, hgroup, 
		menu, nav, section 							{display:block;}

		
		table 										{border-collapse:collapse; border-spacing:0;}
		hr 											{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
		img											{-ms-interpolation-mode: bicubic;}

		/* Links */
		a 											{margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none}
		a:hover, a:active, a:focus					{outline:none;}
		a:hover 										{text-decoration:underline}
		a img										{border:0}

		/* Form */
		form											{margin:0}
		
		legend										{margin-left:1em}
		
		input, select 									{vertical-align:middle; background:white;}
		select										{-webkit-border-radius:0; border-radius:0}
		input, select, textarea, button 					{margin:0; font:100% sans-serif;}
		input:invalid, textarea:invalid 				{border-radius:1px; box-shadow:0px 0px 2px red;}
		
		textarea 										{overflow:auto;} 
		
		input[type=text]:focus						{outline:none;}
		textarea:focus								{outline:none;} 
		
		button 										{width:auto; overflow:visible;}
		button,
		input[type=button],
		input[type=submit] 							{cursor:pointer; -webkit-appearance: none; -webkit-border-radius:0; border-radius:0}
		
		button[disabled],
		html input[disabled] 							{cursor: default;}

		::-webkit-input-placeholder             			{color:#ccc;}
		input:-moz-placeholder               				{color:#ccc;}
		
		/* Lists */
		ul, ol 										{margin-left:1.8em;}
		ol 											{list-style-type:decimal;}
		nav ul, nav ol, nav li							{margin:0; padding:0; list-style-type:none; list-style-image:none}
		

		/* Text */
		pre, code, kbd, samp 							{font-family:monospace, sans-serif;}
		blockquote, q 									{quotes:none;}
		blockquote:before, blockquote:after,	
		q:before, q:after 							{content:''; content:none;}
		ins 											{background-color:#ff9; color:#000; text-decoration:none;}
		mark 										{background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
		del 											{text-decoration:line-through;}
		abbr[title], dfn[title] 						{border-bottom:1px dotted; cursor:help;}
		sub 											{vertical-align:sub; font-size:smaller;}
		sup 											{vertical-align:super; font-size:smaller;}
		pre 											{padding:15px;  white-space:pre;  white-space:pre-wrap;  white-space:pre-line; word-wrap:break-word;}
		small 										{font-size:85%;}
		::-moz-selection							{background:#254e57; color:#fff; text-shadow:none;}
		::selection 									{background:#254e57; color:#fff; text-shadow:none;} 

		.ie7 .radioLabel, .ie7 .checkBoxLabel,
		.ie8 .radioLabel, .ie8 .checkBoxLabel,
		.ie9 .radioLabel, .ie9 .checkBoxLabel		{vertical-align:top}

		
	/*------------------------------------------------------------------------------------------------------------*/
	/*	HELPER CLASSES														  						  	  	  	  */
	/*------------------------------------------------------------------------------------------------------------*/

		.noScroll						{overflow:hidden;}

		/* Floats */
		.imgFloatLeft					{float:left; margin:0 10px 10px 0}
		.imgFloatRight					{float:right; margin:0 0 10px 10px}
		.floatLeft						{float:left}
		.floatRight						{float:right}

		
		
		/* Float collapse fix */
		.clearBoth						{clear:both}
		.clearfix:before,
		.clearfix:after 					{content: " "; display: table;}
		.clearfix:after 					{clear: both;}
		.clearfix 						{*zoom: 1;}
		.overflowHidden					{overflow:hidden}
		
		
		
		/* Alignment */
		.textLeft						{text-align:left!important}
		.textRight						{text-align:right!important}
		.center							{text-align:center!important}
		
		
		
		/* Split the page */
		.leftHalfContainer				{float:left; width:49%;}
		.rightHalfContainer				{float:right; width:49%;}
		
		.leftThirdContainer				{float:left; width:33%;}
		.middleThirdContainer			{float:left; width:33%;}
		.rightThirdContainer			{float:right; width:33%;}

		
		
		/* Override rules */
		.noFloat						{float:none!important}
		.noBkgnd						{background:none!important}	
		.noMargin						{margin:0!important}
		.noPadding						{padding:0!important}
		
		
		
		/* Info Container - Left */
		.infoContainerLeft				{overflow:hidden; margin:0 0 10px}
		.infoContainerLeft img			{float:left; margin:0 10px 0 0}
		.infoDetailsLeft				{overflow:hidden}

		/* Info Container - Right */
		.infoContainerRight				{overflow:hidden;}
		.infoContainerRight img			{float:right!important; margin:0 0 10px 10px}
		.infoDetailsRight				{overflow:hidden}
		
		.offScreen						{position:absolute; top:-9999px; left:-9999px}
		.hidden							{display: none !important; visibility: hidden;}
		
		.shortdate						{margin:0.4em 0; color:#666}
		.fullDate						{margin:0.4em 0; color:#666; font-style:italic}
		.imgTop							{vertical-align:top} /* overrides default baseline alignment */
		
		
		
		/* Rounded Corners */
		.roundedInput					{border-radius:5px;}
		.roundedButton					{border-radius:5px;}
		.roundedCorners					{border-radius:5px;}
		.roundedTop						{border-radius:5px;}
		.roundedBottom					{border-radius:5px;}
		
		
		/* Text */
		.capitalise						{text-transform:uppercase}


	/*------------------------------------------------------------------------------------------------------------*/
	/*	Colours																								  	  */
	/*------------------------------------------------------------------------------------------------------------*/


	.bkgnd-grey							{background:#ececed}
	.bkgnd-dark-grey					{background:#393a3c}
	.bkgnd-light-grey					{background:#ececed}
	.bkgnd-purple						{background:#6B2C91}
	
	.purple-text						{color:#6B2C91!important}
	.white-text							{color:white!important}
	.black-text							{color:black!important}

		
	/*------------------------------------------------------------------------------------------------------------*/
	/*   STRUCTURE																	  						  	  */
	/*------------------------------------------------------------------------------------------------------------*/

		html																{margin:0; padding:0;
																			font-size:62.5%; background:white; 
																			-webkit-tap-highlight-color: rgba(0,0,0,0);
																			-webkit-overflow-scrolling: touch;
																			-webkit-text-size-adjust:100%; 
																			-ms-text-size-adjust: 100%;
																			-webkit-font-smoothing: antialiased;} /* Fix font sizing issues */
		
		body																{margin:0; padding:0; width:100%; background:white; -webkit-overflow-scrolling:touch; overflow:auto;
																			font-size: 1.3em; line-height: 1.5em; font-family:sans-serif;}  /* Reset the base font size 1pt = 1em */

			.pageWrapper													{position:relative; width:100%; margin:0 auto; padding:0; height:100%; overflow:hidden;}

				.posMenuAtEdge												{right:0px!important}
				
				.headerContainer											{position:relative; margin:20px 0 0; background:white; z-index:1000;}
					.headerContent											{width:90%; max-width:1140px; margin:0 auto; padding:0; background:white}
				

				.contentContainer											{position:relative; background:white; z-index:10;}
					.content												{padding:0; overflow:hidden;}

						.leftMenuContainer									{display:none; float:left; width:30%; margin:0 30px 0 0;}

						.noColLayoutContainer .mainContentContainer 			{overflow:hidden;}

						.oneColLayoutContainer								{overflow:hidden;}
						
				.footerContainer											{background:#1d1d1d}
					.footerContent											{overflow:hidden; margin:0;}
					
					
					
	/*------------------------------------------------------------------------------------------------------------*/
	/*	NAVIGATION																	  						  	  */
	/*------------------------------------------------------------------------------------------------------------*/

		/* Mobile Menu "Hambuger" Icon */
			.search-icon									{display:block; float:right; margin:0 5px 0 0; cursor:pointer;}
			.search-icon img								{vertical-align:top; display:block; padding:14px;}
			.search-icon span								{display:none;}
			
			.mobile-menu-icon								{display:block; float:right; margin:0;}
			.mobile-menu-icon img							{vertical-align:top;display: block; padding:14px; }

			
		/* Search Bar */
			.search-options										{display:none; position:absolute; top:90px; left:0; width:100%; padding:34px 0 30px; background:#eee; -webkit-box-shadow: 0px 10px 5px 0px rgba(57, 58, 60, 0.75); -moz-box-shadow: 0px 10px 5px 0px rgba(57, 58, 60, 0.75); box-shadow: 0px 10px 5px 0px rgba(57, 58, 60, 0.75); }
				
				.searchContainer								{float:left; width:70%; margin:0 10px 0 0;}
				
					.searchInputWrapper                                                     {margin:0 0 10px;}
                       .searchInputWrapper input[type=text]    {width:100%; padding:10px; border:0; border-radius:3px; color:#717275;
																-webkit-box-sizing: border-box;
																   -moz-box-sizing: border-box;
																	 -o-box-sizing: border-box;
																		box-sizing: border-box;}
			
					.searchFilterWrapper						{display:none; }
						.searchFilterWrapper label				{margin:0 15px 4px 0; display:block; }
						.searchFilterWrapper input[type=radio]	{margin:0 5px 0 0; background:none}
				
				
			.search-options input[type="submit"], 
			.search-options input[type="button"]                            {float:left; margin:0; padding:10px 15px 10px 30px; border:0; border-radius:3px; color:white;
                                                              background:#6B2C91 url(../images/icon-search-magGlass-white.png) 10px 50% no-repeat;}
		

		/* NAV - Secondary menu for scroll */
			.secondMenuBar									{position:absolute; top:-100px; right:0; text-align:right; z-index:500;
															background:rgba(255,255,255,0.9); 
															box-shadow:0 0 10px #111;
															-webkit-transition:all 0.6s;
															-moz-transition:all 0.6s;
															-o-transition:all 0.6s;
															transition:all 0.6s;}
			.secondMenuBar a.mobile-menu-icon				{margin:0; padding:15px;}	
			.slideSecondMenu								{position:fixed; top:0px;}
		
		
		
		
		/* NAV - PRIMARY */
			.primaryNav													{display:none; margin:0; clear:both;}
				/* UL */
				.primaryNav ul.megaMenu									{margin:0;}
				.primaryNav ul.megaMenu li.menuItem						{float:left; margin:0;}
				.primaryNav ul.megaMenu li.menuItem:last-child			{margin:0}

				.primaryNav ul.megaMenu li.menuItem a.megaLink			{display:block; padding:25px 4px 42px; color:#333; text-decoration:none}
				
				.primaryNav ul.megaMenu li.menuItem a.home				{display:block; padding:0; width:40px; height:63px; overflow:hidden;
																		background:url(../images/icon-home.png) 50% 50% no-repeat; text-indent:-999px}
				
				.megaContent											{position:absolute; top:-9999px; left:0; width:100%; background:#f0f0f0; color:white; padding:20px 0 0; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8}
				
				.no-js .no-touch .primaryNav ul.megaMenu li.menuItem:hover a.megaLink 		{position:relative; background:#f0f0f0; z-index:999999}
				.no-js .no-touch .primaryNav ul.megaMenu li.menuItem:hover .megaContent		{top:175px;}
				
				.no-touch .primaryNav ul.megaMenu li.menuItem.hover a.megaLink 				{position:relative; background:#f0f0f0; z-index:999999}
				.no-touch .primaryNav ul.megaMenu li.menuItem.hover .megaContent			{top:175px;}
				
				.touch .primaryNav ul.megaMenu li.menuItem.active a.megaLink 				{position:relative; background:#f0f0f0; z-index:999999}
				.touch .primaryNav ul.megaMenu li.menuItem.active .megaContent				{top:175px;}

				.touch .primaryNav ul.megaMenu li.menuItem.hover a.megaLink 				{position:relative; background:#f0f0f0; z-index:999999}
				.touch .primaryNav ul.megaMenu li.menuItem.hover .megaContent				{top:175px;}
				
				.megaSubPanel											{float:left; border-right:1px solid #E4E4E4; width:30%; margin:0 0 20px; padding-left:1.5%; padding-right:1.5%;}
				.megaSubPanel:first-child								{padding-left:0;}
				.megaSubPanel:nth-child(3n)								{border-right:0}
				
				.megaSubPanel p											{color:#6a2c91; font-size:0.9em; line-height:1em}
				.megaSubPanel li										{font-size:1em}
				.megaSubPanel li a										{display:block; font-size:0.85em;}
				.touch .megaSubPanel li a								{padding:3px 0; font-size:0.85em;}

		
		
		
		/* NAV - BREADCRUMB */
		.breadcrumbNav								{display:none; margin:0 auto; border-top:1px solid #ddd; border-bottom:1px solid #ddd}
			/* UL */
			.breadcrumbNav ul						{margin:0; padding:5px 0; overflow:hidden;}
			.breadcrumbNav li							{float:left; padding:0;}
			
			.breadcrumbNav li a						{display:block; padding:3px 12px 3px 7px; color:#939598; font-size:0.85em; 
													background:url(../images/breadcrumb-divider.gif) 100% 55% no-repeat;}
			
			.breadcrumbNav li:last-child a			{background:none;}
			
			
			.breadcrumbNav li a.active				{font-weight:bold}
			
			.breadcrumbNav li a:hover,
			.breadcrumbNav li.active a				{}
			

		/* NAV - LEFT */
		.primaryLeftNav											{margin:0 0 10px;}

			/* UL */
			.primaryLeftNav li											{margin:0; font-size:1.6em;}
			
			.primaryLeftNav li a											{display:block; padding:10px 0 10px 0; border-left:5px solid white; text-decoration:none; color:black}

			.primaryLeftNav li.activeMenuLink a							{border-left:5px solid #6B2C91; color:#6B2C91; font-weight:600}
			
			

			/* 1st level */
			.primaryLeftNav ul											{}
			.primaryLeftNav ul li										{border-top:1px solid #ccc}
			.primaryLeftNav ul li a										{padding-left:10px; font-weight:400}
			.primaryLeftNav ul > li.open > span a.showHideIcon				{color:#6B2C91; font-weight:600}
			
			/* 2nd Level */
			.primaryLeftNav ul ul											{display:none; border-left:1px solid #ccc; border-top:1px solid #ccc;}
			.primaryLeftNav li li											{font-size:0.85em; border-top:0}
			.primaryLeftNav ul ul li a										{padding-left:20px;}
			.primaryLeftNav ul ul > li.open > span a.showHideIcon			{color:black; font-weight:400}
			
			/* 3rd Level */
			.primaryLeftNav ul ul ul										{border:0}
			.primaryLeftNav li li li											{font-size:0.95em;}
			.primaryLeftNav ul ul ul li a										{padding-left:30px;}
			.primaryLeftNav ul ul ul > li.open > span a.showHideIcon			{color:black;}
			
			/* 4th Level */
			.primaryLeftNav ul ul ul ul											{}
			.primaryLeftNav ul ul ul ul li a									{padding-left:40px}
			.primaryLeftNav ul ul ul ul > li.open > span a.showHideIcon			{color:black;}
			
			/* 5th Level */
			.primaryLeftNav ul ul ul ul ul										{}
			.primaryLeftNav ul ul ul ul ul li a									{padding-left:50px}
			.primaryLeftNav ul ul ul ul ul > li.open > span a.showHideIcon		{color:black;}
			
			/* 6th Level */
			.primaryLeftNav ul ul ul ul ul ul									{}
			.primaryLeftNav li li li li li li									{font-size:1em}
			.primaryLeftNav ul ul ul ul ul ul li a								{padding-left:60px}
			.primaryLeftNav ul ul ul ul ul ul > li.open > span a.showHideIcon		{color:black;}
			
			/* 7th Level */
			.primaryLeftNav ul ul ul ul ul ul ul									{}
			.primaryLeftNav ul ul ul ul ul ul ul li a								{padding-left:70px}
			.primaryLeftNav ul ul ul ul ul ul ul > li.open > span a.showHideIcon	{color:black;}
			
			/* 8th Level */
			.primaryLeftNav ul ul ul ul ul ul ul ul									{}
			.primaryLeftNav ul ul ul ul ul ul ul ul li a							{padding-left:80px}
			.primaryLeftNav ul ul ul ul ul ul ul > li.open > span a.showHideIcon	{color:black;}
			

		
		
	/*------------------------------------------------------------------------------------------------------------*/
	/*	CONTENT																		  						  	  */
	/*------------------------------------------------------------------------------------------------------------*/
		
		.eqHeights-lazy                                                    {min-height:150px;}
		.site-identifier							{clear:both; margin:0;}
		.site-identifier p, .site-identifier a, .site-identifier a:visited, .site-identifier a:hover
													{font-size:22px; color:#6B2C91; font-family:'Open Sans', sans-serif; font-weight:400; line-height:22px; text-decoration: none; padding: 0; }
													
		
		
		 
		/* Footer */
		.footerContainer h2							{color:white}
		.footerContainer .fourcol.last				{margin:2em 0 0; padding:1em 0 0; border-top:1px solid #808184; width:100%}
		.footerContainer .sixcol.last				{margin:2em 0 0; padding:1em 0 0; border-top:1px solid #808184; width:100%}
		.footerContainer .tripleVertPadding					{padding-bottom:1em}
		.footerContainer li a							{font-size:1em!important;}
		
		.footer-socialIcons	li 						{padding:0!important}
		.footer-socialIcons	li a img					{margin:0 3px 0 0; width:auto!important;}

		.footerLogos                                                            {float:left; width:280px;}
		.footerLogos img                                                        {display:inline; margin:0 20px 10px 0; width:auto!important;}
		.footerLogos p 								{color:white; line-height:1.3em; font-size:1.1em; }
		
		
	
		/* Lists */
		.noBullets									{margin:0; padding:0; list-style:none}
		.noBullets li									{margin:0; padding:0; list-style:none; font-size:1em; line-height:2em}
		.noBullets li a								{display:block; font-size:1.2em}
		
		.inlineList									{margin:0; padding:0; list-style:none; overflow:hidden;}
		.inlineList li								{display:inline-block; margin:0; padding:0 5px 0 0; font-size:1em; line-height:2em; color:#808184}
		.lt-ie8 .inlineList li						{zoom:1; display:inline;}
		
		.inlineList li a								{display:inline-block; padding:5px;}
		.lt-ie8 .inlineList li a						{zoom:1; display:inline;}
		
		
		.multiColList								{margin:0; padding:0; list-style:none; overflow:hidden;
													-webkit-column-count:2; -webkit-column-gap:1em;
													-moz-column-count:2; -moz-column-gap:1em; 
													column-count:2; column-gap:1em;}
		
		.multiColList li								{margin:0; padding:0; font-size:1em;}
		.multiColList li a							{display:inline-block; padding:0 0 1em}
		.lt-ie8 .multiColList li a						{zoom:1; display:inline;}
		
		
		.squareBullets								{margin:0 0 20px; padding:0}
		.squareBullets li							{margin:0; padding:0 0 0 20px; list-style:none; background:url('../images/icon-purple-square.gif') 0 12px no-repeat; font-size:1.2em; line-height:2em}
		
		.gridList									{margin:0; padding:0; list-style:none}
		.gridList li									{list-style:none; font-size:1em; }


		
		dl											{margin:0 0 2em;}
			dt										{font-weight:400; font-size:1.35em; padding:0 0 0.3em}
			dd										{font-weight:400; font-size:1.35em; line-height:2em; margin:0 0 1.5em; color:#808184}
			dd:last-child							{margin:0}
		
		
		dl.inline									{margin:0; width:100%;}
			dl.inline dt								{float:left; width:150px; padding:3px 0 0; font-size:1.2em; color:#1d1d1d}
			dl.inline dd								{font-weight:300; font-size:1.2em; color:#808184}
		


		/* Live Chat */
		.uom_liveChat_container						{position:fixed; top:196px; right:0px; z-index:999999;
													-webkit-transition: all 500ms;
													-moz-transition: all 500ms;
													-ms-transition: all 500ms;
													transition: all 500ms;}
			
			.uom_liveChat_container.hide 			{right:-240px;}
			.uom_liveChat_tab         {position:absolute; top:0px; left:0px; width:25px; height:100px; background:#6B2C91; border-radius:3px 0 0 3px; cursor:pointer;}
                                                
			.uom_liveChat_tab p     {position:absolute; bottom:40px; left:-24px; background:#6B2C91; color:white; padding:0; font-size:12px; width:80px;
																																																							-webkit-transform:rotate(270deg);
																																																							-moz-transform:rotate(270deg);
																																																							-o-transform:rotate(270deg);
																																																							transform:rotate(270deg);
																																																							filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
			.ie9 .uom_liveChat_tab p,
			.lt-ie9 .uom_liveChat_tab p         {bottom:70px; left:0px;}

			
			.uom_liveChat_details 					{width:200px; height:300px; background-color:#6B2C91; margin:0 0 0 25px; padding:10px 20px 20px;}
				
				.uom_liveChat_title 				{color:white; font-size:1.4em; margin:0 0 10px; padding:0; }

				.uom_liveChat_message_history 		{background-color:#fff; margin:0 0 20px; width:100%; height:180px; border-radius:5px;}
				.uom_liveChat_message		 		{background-color:#fff; width:165px; height:40px; border-radius:5px; padding:5px;}





		/* Tab / Accoridon */
		.tabsContainer								{display:none; }
		
		.panel 										{background:#6B2C91;}
		.panel .panelDetails						{display:none;}
		.panel.active .panelDetails					{display:block; padding:10px;}
		.panel .panelDetails p						{color:white;}


		.panel .panelTitle 							{display:block; margin:0; padding:0; background:#555; font-size:1.4em;}		
		.panel .panelTitle a						{display:block; padding:20px 0 20px 35px; background: url(../images/icon-right-arrow-white.png) 10px 45% no-repeat; text-decoration:none; color:white!important; border-bottom:1px solid #ccc;}
		.panel .panelTitle a.active 				{background: url(../images/icon-down-arrow-white.png) 7px 50% no-repeat; border-bottom:0;}




		/* Search Info Panel */
		.search-info-panel 							{border:1px solid white; margin:0; padding:20px;}
		.search-info-panel p						{color:white; margin:0; padding:0;}
		.search-info-panel .title					{font-size:2em; color:white; margin:0; padding:0; }
		.search-info-panel a						{color:white!important; text-decoration:none!important; font-size:1.2em; display:inline-block; margin:20px 0 0;}



		
		/* Responsive Table */
		table.responsive							{display:block; margin:0 0 30px}
		table.responsive thead						{display:block}
		table.responsive tbody						{display:block}
		table.responsive tr							{display:block}
		table.responsive th							{display: block;}
		table.responsive td 						{display: block;}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive thead tr 					{position: absolute; top: -9999px; left: -9999px;}

		table.responsive tr 						{border: 1px solid #ccc;}
		table.responsive tr:nth-of-type(odd)		{background:#eee;}
		table.responsive th 						{background:#383b3c; color:white; font-weight:bold;}
		table.responsive td, 
		table.responsive th							{padding:6px; text-align:left; font-size:1.2em;}
		
		/* Behave  like a "row" */
		table.responsive td 						{border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%;}
		
		/* Now like a table header */
		/* Top/left values mimic padding */
		table.responsive td:before 					{position: absolute; top: 6px; left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
		
		/*Label the data*/
		table.responsive td:nth-of-type(1):before 		{content: "Column One"; }
		table.responsive td:nth-of-type(2):before 		{content: "Column Two"; }
		table.responsive td:nth-of-type(3):before 		{content: "Column Three"; }
		table.responsive td:nth-of-type(4):before 		{content: "Column Four"; }
		/* END Responsive Table */
		

		/* Twitter Feed */
		.twitterFeed iframe							{width:100%; height:360px;}
		
		
		/* Fonts */
		*,
		input,
		select										{font-family:'Open Sans', sans-serif; font-weight:200}
	
		
		/* Heading styles for pages */
		h1,
		.styleAsH1									{font-weight:300; font-size:3em; line-height:1em; margin:0; padding:0 0 0.5em; color:#6B2C91}
		.inPageH1									{font-weight:300; font-size:3.3em; line-height:1em; margin:0; padding:0 0 0.8em; color:#1d1d1d;} /* style has H2 */
		
		h2,
		.styleAsH2									{font-weight:300; font-size:3.3em; line-height:1em; margin:0; padding:0 0 0.8em; color:#1d1d1d;}
		.h2Medium									{font-weight:300; font-size:2.8em; line-height:1em; margin:0; padding:0 0 0.8em; color:#1d1d1d}
		.h2Small									{font-weight:300; font-size:1.6em; line-height:1em; margin:0; padding:0 0 0.8em; color:#1d1d1d}
		
		h3,
		.styleAsH3									{font-weight:400; font-size:1.85em; line-height:1em; margin:0; padding:1em 0 0.4em; color:#1d1d1d}
		
		
		h2.subHeading								{font-size:1.8em; line-height:1.5em; color:#343536; font-weight:400; padding:30px 0 0}
		p.subHeading								{font-size:1.8em; line-height:1.5em; color:#343536; font-weight:300; padding:0 0 40px}
		
		
		/* General Rules */
		li											{font-size:1.2em; color:#000; font-weight:400; color:#808184;}
		p											{font-size:1.2em; line-height:2em; padding:0 0 1em; color:#333; font-weight:400}
		p.navTitle									{font-size:1.8em; line-height:1.4em; color:#6B2C91}
		
		blockquote									{font-size:1.2em; line-height:2em; padding:0; color:#808184; font-weight:400; text-transform:uppercase; overflow:hidden; }
		cite											{display:block; font-size:0.9em; font-style:normal; padding:2em 0 0; color:#808184; font-weight:400; text-transform:capitalize}
		
		a											{color:#808184}
		a:hover										{}
		.mainContentContainer a						{color:#6B2C91; font-weight:400; text-decoration:underline;}
		.mainContentContainer a.noUnderline			{text-decoration:none;}
		
		.mainContentContainer .banner a 				{text-decoration:none}
		
		a.more										{background:url(../images/icon-moreArrow-right.png) 90% 50% no-repeat}
		
		h1 img,
		h2 img,
		a img										{vertical-align:middle}	
		
		h2 a											{font-weight:200!important; text-decoration:none!important; color:#1d1d1d!important}
		
		.listBlock a									{text-decoration:none}
		
		.fourcol a, 
		.fourcolRigid a,
		.eightcol a									{text-decoration:none}
		
		.slide a										{text-decoration:none}

		.morePurple 								{color:#6B2C91; padding:0 20px 0 0; background:url(../images/icon-moreArrow-right-purple.png) 100% 50% no-repeat}
		.morePurple a								{text-decoration:none!important;}
		.morePurple a:hover							{text-decoration:underline!important;}
		a:hover .morePurple							{text-decoration:underline;}
		
		.moreWhite 									{color:white; padding:0 20px 0 0; background:url(../images/icon-moreArrow-right.png) 100% 50% no-repeat}
		.moreWhite a									{text-decoration:none!important;}
		.moreWhite a:hover							{text-decoration:underline!important;}
		a:hover .moreWhite							{text-decoration:underline;}
		
		.textButton									{text-decoration:none!important; font-size:1.2em}
		.textButton:hover							{text-decoration:underline!important;}
		
		.mainContentContainer a figure p 							{text-decoration:none!important;}
		

		address										{font-style:normal; font-size:1em; color:#808184}

		.mainLogo									{float:left; width:170px; height:71px; margin:0 0 20px}
		.mainLogo a									{display:inline-block; color:white; margin:0; padding:0; text-transform:uppercase; font-weight:bold}
		.lt-ie8 .mainLogo a							{zoom:1; display:inline;}
		.mainLogo a img								{width:100%; height:auto;}
		
		strong										{font-weight:600}

		
		.placeholderTextColor						{color:#aaa;}  /* fake placheolder text colour */
		.formFocusTextColor							{color:black}  /* proper text colour for input & textarea tags */
		
		

		
		
		/* Show Hide Sections */
		.showAtDesktop								{display:none}
		
		
		/* Hide lazy load images so fallback can work */
		.no-js .lazyload								{display:none!important; border:1px solid red}
		
		
		/* Image Panel Content */
		.imagePanel-content							{position:absolute; top:20px; left:20px; width:70%}
		.imagePanel-content .largeTitle				{margin:0; padding:0 0 0.5em; font-size:1.8em; font-weight:200; line-height:0.9em; color:#ffffff}
		.imagePanel-content .description				{display:block; margin:0; padding:0 0 1em; font-size:1em; color:#ffffff}
		.imagePanel-content .more					{display:inline-block; margin:0; padding:5px 20px 5px 0; font-size:1em; color:#ffffff; background:url(../images/icon-moreArrow-right.png) 90% 50% no-repeat}
		.lt-ie8 .imagePanel-content .more			{zoom:1; display:inline;}
			
		
		/* Image Banner Content */
		.banner											{position:relative;}
			.banner .imageBanner-content					{position:absolute; top:10px; left:10px; margin:0 10px 0 0}
			.banner .imageBanner-content .largeTitle		{font-size:3em; font-weight:300; line-height:0.9em; padding:0;}
			.banner .imageBanner-content .description	{display:block; margin:0 0 1em; font-size:1.4em; line-height:1em; color:black;}

		
		/* NON Image Banner Content */
		.banner .non-imageBanner-content 				{}
		.banner .non-imageBanner-content					{padding:20px; overflow:hidden; }
		.banner .non-imageBanner-content .largeTitle		{font-size:3em; font-weight:300; line-height:0.9em; padding:0;}
		.banner .non-imageBanner-content .description	{display:block; margin:0 0 1em; font-size:1.4em; line-height:1em; color:black;}

		
		/* Responsive Image & Video */
		.responsiveImg								{max-width:100%; height:auto;}
		.videoContainer								{width:99%!important; border:1px solid #ccc; margin:0 0 20px;}

		
		/* Layout Grid */
		.row 										{position:relative; width:90%; max-width:1140px; margin:0 auto; padding:0; overflow:hidden;}

		.threecol,
		.fourcol, 
		.fourcolRigid,
		.sixcol,
		.eightcol									{margin-right:3.8%; float:left; overflow:hidden; position:relative;}

		.threecol,
		.fourcol 									{width:100%;}
		.fourcolRigid 								{width:30.8%;}
		.ie7 .fourcolRigid 							{width:30.6%;}
		.sixcol 										{width:100%;}
		.eightcol 									{width:100%;}
		.twelvecol 									{width:100%; float:left; position:relative;}
		
		.lastAtMobile 								{margin-right:0px;}
		
		.halfSizeUntilLargeMobile					{width:48.1%;}
		.fullSizeUntilLargeMobile					{width:100%; margin-bottom:5%}
		
		.fullSizeUntilDesktop 						{width:100%; margin-bottom:5%;}
		.fullSizeUntilLargeDesktop					{width:100%; margin-bottom:5%;}	
		
		.showAtFullDesktop							{display:none!important;}

		
		.colRight									{float:right}
		
		.last 										{margin-right:0px!important; /*margin-bottom:0!important*/}
		

		/* 	Art direction 
			and crop for large images
		*/
		.eightcol img 								{width:213%;}
		img.pullTenLeft								{margin:0 0 0 -10%}
		img.pullQuarterLeft							{margin:0 0 0 -25%}
		img.pullCenterLeft							{margin:0 0 0 -50%}
		img.pullLeft 								{margin:0 0 0 -100%}
		
		
		/* Compensate for rounding errors */
		/* DO NOT DELETE */
		.fourcol img									{width:102%!important;}
		.colRight.doubleHeight img					{width:104%!important;}
		.doubleHeight img							{width:104%!important;}
		

		/* Section header padding */
		.singleVertPadding							{padding:1em 0}
		.allSinglePadding							{padding:1em}
		
		.doubleVertPadding,
		.doubleVertPadding-untilLargeDesktop		{padding:2em 0}
		.doubleVertBottomPadding					{padding:0 0 2em}
		.allDoublePadding							{padding:2em}
		
		.triplePaddingTop 							{padding:3em 0 0;}
		.triplePaddingBottom 						{padding:0 0 3em;}		
		.tripleVertPadding							{padding:3em 0}
		.allTriplePadding							{padding:3em}

		.quadVertPadding							{padding:4em 0}
		.allQuadPadding								{padding:4em}

		
		
		/* Lists inside Cols */
		.sixcol dl.inline dt							{float:none; width:auto; padding:0;}

		
		/* Images & Captions */
		.responsiveImage,
		.responsive-image							{display:block; width:100%; height:auto;}
		
		figure										{display:block; position:relative;}
			figure img								{display:block; width:100%; height:auto; margin:0; padding:0}
			
			figcaption									{position:absolute; bottom:-3px; background:white; z-index:1000; z-index:2000}
			figure.noIndent figcaption					{position:relative; font-size:1.2em; font-weight:400; margin:0; padding:0 0 0.4em; color:#808184}
			.bkgnd-grey figcaption						{background:#ececed;}
			
			figcaption.botLeft							{left:-3px; max-width:70%; padding:10px 10px 6px 3px;}
			figcaption.botRight						{right:-3px; max-width:70%; padding:10px 3px 6px 3px;}

			
			.newsBlock a span img,
			.slide a span img,
			a figure img								{-moz-backface-visibility: hidden;}

			.newsBlock a:hover span,
			.slide a:hover span,
			a:hover figure 							{background-color:purple;}
			
			.newsBlock a:hover span img,
			.slide a:hover span img,
			a:hover figure img							{opacity:0.5; filter: alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-backface-visibility: hidden;}


			
		/* Dividers */
		hr 											{width:90%; display:block; height:1px; border:0; border-top:1px solid #808184; margin:0 auto; padding:0;}
		
		
		
		/* Quick Links */
		.quicklinks									{}
		.quicklinks	a								{color:#808184; text-decoration:none;}
		.quicklinks	a:hover							{text-decoration:underline}
		
		
		
		/* Aside */
		.leftOfAside								{width:100%}
		.leftOfAside h3								{padding:0 0 0.8em; font-weight:400;}
		
		.asideRight									{float:none}
		aside.content								{width:95%; padding:2%; border:1px solid #ccc; background:#F5F5F5}
		aside.content h3								{padding:0 0 0.8em; font-weight:300;}
		aside .largeTitle							{font-size:1.6em; line-height:1.2em; margin:0 0 1em}
		aside dl										{margin:0}
		

		

		/* Aside Smaller */
		.asideSmaller 								{display:none}
		
		
		/* Titles */
		.veryLargeTitle								{font-size:2.2em; color:#343536}
		.largeTitle									{margin:0; padding:0; font-size:1.4em; line-height:1.4em; color:black; font-weight:600;}
		.description								{display:none; margin:0; padding:1em 0 0; font-size:1em; line-height:1.6em}
		
		.exploreManchester .smallTitle				{margin:0; padding:0; font-size:0.9em; color:#6b2c91}
		.exploreManchester .largeTitle				{margin:0; padding:0; font-size:1.4em; line-height:1em}
		.exploreManchester .description				{margin:0; padding:1em 0 0; font-size:1em; line-height:1.6em;}
		
		
		/* Page Social Icons */
		.pageShare 									{border-top:1px solid #ececed}
		.pageShare h2								{margin:1em 1em 0 0}
		.page-socialIcons li a span					{position:absolute; left:-999px}
		
		
		/* Discover */
		.discover a									{overflow:hidden; text-decoration:none; margin:0 0 20px;}
		.discover a:hover .icon						{background-position:0 -73px;}
		.discover .icon								{display:block; width:75px; height:73px; overflow:hidden; float:left; margin: 0 10px 0 0;
													transition: all .5s ease-in-out;
													-ms-transition: all .5s ease-in-out;
													-moz-transition: all .5s ease-in-out;
													-webkit-transition: all .5s ease-in-out;}
			
			.jobs									{background:url(../images/icon-jobs-large.png) 0 0 no-repeat;}
			.map									{/*background:url(../images/icon-map-large.png) 0 0 no-repeat;*/}
			.events									{background:url(../images/icon-events-large.png) 0 0 no-repeat;}
			.services								{/*background:url(../images/icon-services-large.png) 0 0 no-repeat;*/}
			.email									{/*background:url(../images/icon-email-large.png) 0 0 no-repeat;*/}
		
		.discover a h3								{padding:10px 0 0}
		.discover a h3.single						{padding:25px 0 0}
		.discover a p								{position:absolute; top:-999px}
		
		
		/* Masthead Carousel */
		.masthead-container										{position:relative; height:500px; overflow:hidden;
																-webkit-transition:all 500ms;
																-moz-transition:all 500ms;
																-o-transition:all 500ms;
																transition:all 500ms;}
																			
			.masthead-carousel									{position:relative;}
				
				.masthead-slide									{position:absolute; top:0; left:0; width:100%; background:#ECECED}
				.masthead-slide.active							{z-index:1001}
				.masthead-slide.working							{z-index:1002}
				
				.no-js .masthead-slide							{display:none;}
				.no-js .masthead-slide:first-child				{display:block; position:relative; width:100%;}
		
			.masthead-pagination								{display:none;}
			
			
		
		/* Masthead Image */
		.masthead-image											{position:relative; margin:0}




		/* Masthead Carousel & Image Shared components */
		.masthead-slide-content									{width:90%; margin:0 auto; padding:10px 0}
		
		.masthead-slide-content	.largeTitle  					{font-size:1.8em;}
		.masthead-slide-content	.largeTitle span 				{line-height:1em; font-weight:400;}
		
		.masthead-slide-content	h1 								{font-size:1.8em; padding:0;}
		.masthead-slide-content	h1 span 							{line-height:1em; font-weight:400; color:black;}
		
		.masthead-slide-content .subTitle						{font-size:1.3em; line-height:1.2em; padding:10px 0; color:black;}
		.masthead-slide-content	.description					{font-size:1.3em; line-height:1.2em; padding:10px 0; color:black; display:block;}
		
		
		.masthead-slide-content	input[type=button]				{padding:10px 30px 10px 10px; border:0; background:#6B2C91 url(../images/icon-moreArrow-right.png) 90% 50% no-repeat; color:white;}
		.masthead-slide-content	p.button						{margin-top: 10px;}
		.masthead-slide-content	p.button a 						{background: #6b2c91 url(../images/icon-moreArrow-right.png) right 10px center no-repeat; margin: 10px 0 0 0; padding: 10px 30px 10px 10px; color: #fff; text-decoration: none;}
		.masthead-slide-content	p.button a:hover,
		.masthead-slide-content	p.button a:focus { /*text-decoration: underline;*/ background-color: #79379d; color: #fff; }
		.masthead-slide-content	p.button a:active { /*text-decoration: underline;*/ background-color: #55147a; color: #fff; }
		.masthead-slide-content	p.button a:visited 				{color: #fff;}		
		.masthead-slide img,
		.masthead-image img										{display:block; width:100%; max-width:1400px; height:auto; margin:0 auto}
		
		.ie8 .masthead-slide img,
		.ie8 .masthead-image img									{max-height:480px;}


		
		/* News block */
		.newsBlock 												{margin:0 0 30px;}
		.newsBlock span  										{display:block; height: 142px; overflow: hidden;}
		.newsBlock img 											{display:block; height:auto; margin:0 0 10px;}


		/* News Carousel */
		#wrapper 												{width:90%; margin:0 auto;}

		#carousel 												{}
		#carousel .slide 										{display:none}
		#carousel .slide:first-child 							{display:block;}

		#carousel .slide span 									{display:block; width:100%;}
		#carousel .slide span img 									{width:100%; height:auto;}
		#carousel .slide .carouselContent 						{padding-top:20px;}
		#carousel .slide .description 							{display:block;}

		#prev, 
		#next 													{display:none}

		
		
		/* News Title */
		.newsTitleContainer										{position:relative; width:90%; max-width:1140px; margin:0 auto; padding:0; overflow:hidden;}
		.newsTitleContainer.full								{width:100%;}
		.newsTitleContainer	h2									{float:left;}
		.newsTitleContainer	a.all								{float:right; font-size:1.1em; padding:12px 0 6px; color:#6B2C91}
		
		
		/* Course Finder */
		.courseFinder								{width:100%; background:#6b2c91}
			.courseFinder-inner						{padding:20px}
					.courseFinder-inner h3			{font-size:2em; font-weight:200; line-height:1.2em; padding:0 0 1em; color:#ffffff}
					.courseFinder-inner a			{display:block; padding:0 0 0 10px; color:#ffd300; background:url(../images/icon-right-doubleArrow-yellow.png) 0 60% no-repeat; text-decoration:none; }
			
			.courseFinderSelectWrapper				{width:100%; height:34px; margin:0 0 1em;}
			.courseFinder-inner select				{width:100%; height:34px; padding:7px; border:0; border-radius:3px; color:#717275;
													-webkit-box-sizing: border-box;
													   -moz-box-sizing: border-box;
														 -o-box-sizing: border-box;
															box-sizing: border-box;
															
													-webkit-appearance: none;  /*Removes default chrome and safari style*/
													-moz-appearance: none; /* Removes Default Firefox style*/

													background: #fff url('../images/icon-selectBox-arrow.gif') no-repeat;  /*Adds background-image*/
													background-position: 96% 50%;  /*Position of the background-image*/

													text-indent: 0.01px; /* Removes default arrow from firefox*/
													text-overflow: "";  /*Removes default arrow from firefox*/
													cursor:pointer;}

			.courseFinderInputWrapper				{width:100%; margin:0 0 1em;}
			.courseFinder-inner input[type=text]		{width:100%; padding:8px; border:0; border-radius:3px; color:#717275;
													-webkit-box-sizing: border-box;
													   -moz-box-sizing: border-box;
														 -o-box-sizing: border-box;
															box-sizing: border-box;}
			
			.lt-ie8 .courseFinder-inner input[type=text]	{padding:8px 0}
			
			.courseFinder-inner input[type=button],
			.courseFinder-inner input[type=submit]			{width:100%; margin:0 auto; padding:8px; border:0; border-radius:3px;
													background:#383a3c; color:white;
													-webkit-box-sizing: border-box;
													   -moz-box-sizing: border-box;
														 -o-box-sizing: border-box;
															box-sizing: border-box;}			

		/* Accordion */
			.accordion										{position:relative; margin:0 0 20px; padding:0; max-height:1000000px; border-bottom:1px solid #aaa;}
			
			/* Title */
			.accordion .titleHeader							{position:relative; cursor:pointer; border-top:1px solid #aaa; background-color:#eee; 
															background-image:url(../images/accordion-expand.png); 
															background-position:10px 17px; 
															background-repeat:no-repeat;}
			
			.accordion .titleHeader p						{padding:10px 10px 10px 50px;}
			
			.accordionPanel.active .titleHeader 			{border-bottom:1px solid #aaa;
															background-image:url(../images/accordion-collapse.png); 
															background-position:10px 17px; 
															background-repeat:no-repeat;}
			
			.accordion .contentDetails						{display:none; margin:0 0 3px; padding:20px 10px; background:white;}
			
		/* END Accordion */




		/* Library Search */
			.librarySearchContainer 							{margin:0 0 20px;}

		/* Library Search Options */
			.librarySearchOptions 								{margin:0 0 20px;}
			.librarySearchOptions .formRowContainer				{margin:0 0 5px;}
			.librarySearchOptions .formRowContainer label		{color:white;}


	
		
		/* Blockquote */
		.blockquote														{position:relative; margin-top:30px; border-top:1px solid #ececed; border-bottom:1px solid #ececed;}
			.blockquote .quotes											{position:absolute; top:-15px; left:50%; width:75px; height:26px; margin:0 0 0 -38px; background:url(../images/icon-quotes.gif) 0 0 no-repeat; }
			.blockquote img												{display:block; margin:0 auto 20px}
			
			
		/* Grid Page */
		.gridBlock														{position:relative; margin-bottom:5%; padding-bottom:5%; border-bottom:1px solid #ccc}
		.gridBlock:last-child											{border-bottom:0}
		.gridBlock img													{float:left; width:40%!important; height:auto; margin-right:10px}
		.gridBlock .largeTitle											{padding:0 0 10px;}
		.gridBlock p														{line-height:1.4em}
		.gridBlock .playButton											{position:absolute; top:0; left:0; width:57px; height:57px; 
																		background:url(/assets/images/icon-play-button.gif) 0 0 no-repeat;}
		
		
		/* List Page */
		.listBlock														{border-top:1px solid #ccc; padding:35px 0}
		.listBlock img													{float:left; width:40%; height:auto; margin-bottom:10px;}
		.listBlock .largeTitle											{padding:0 0 10px;}
		.listBlock p														{line-height:1.4em}
		
		
		
		
	/*------------------------------------------------------------------------------------------------------------*/
	/*	Forms																		  						  	  */
	/*------------------------------------------------------------------------------------------------------------*/

		fieldset												{margin:0 0 50px; padding:0;}
		.lt-ie8 fieldset										{width:95%;}
		
			legend											{border:1px solid #ccc; display:none; }
			.fieldsetInnerContainer							{margin:0; padding:0}
			
				.formRowContainer							{margin:0 0 20px; padding:0px; width:100%; font-size:1.2em}
				
					/* Helper classes */
					.extraRow								{margin:5px 0 0 0} /* multi line address input */
					.counterContainer 						{margin:0px 0 10px 0}
					.counterContainer p						{margin:0; font-size:80%}
					.hidden									{display:none;}
				
				
					/* Default values */
					.formRowContainer input,
					.formRowContainer select,
					.formRowContainer textarea				{margin:0; padding:0; border:1px solid #ccc; font-size:1em}
					
					
					.formRowContainer input:focus,
					.formRowContainer textarea:focus,
					.formRowContainer textarea:active			{background:#fffdd4; outline:0}
					
					
					/* Override values */
					.formRowContainer label					{cursor:pointer; font-size:1em;}
					.formRowContainer .label					{display:block; position:relative; margin:0; padding:0; width:100%; color:#808184; font-size:1em;}

					.formRowContainer input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"])
															{
																margin:0; padding:5px; width:100%;
																-webkit-box-sizing: border-box;
																   -moz-box-sizing: border-box;
																	 -o-box-sizing: border-box;
																		box-sizing: border-box;
															}
					
					.lt-ie8 .formRowContainer input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"])
															{
																padding:5px 0;
															}
					
					.formRowContainer select					{margin:0 10px 0 0; padding:6px; cursor:pointer}
					
					.formRowContainer textarea				{margin:0; padding:5px; width:100%; height:80px;
																-webkit-box-sizing: border-box;
																   -moz-box-sizing: border-box;
																	 -o-box-sizing: border-box;
																		box-sizing: border-box;
															}

				
					/* Images */
					.required								{position:absolute; top:5px; left:-10px; width:10px; height:10px; background:url(formimages/required.png) 0 0 no-repeat}
					
					.tickIcon								{position:absolute; top:50%; right:40px; margin-top:-20px; width:20px; height:40px; background:url(formimages/tick.png) 98% 50% no-repeat;}
					.crossIcon								{position:absolute; top:50%; right:40px; margin-top:-20px; width:20px; height:40px; background:url(formimages/cross.png) 98% 50% no-repeat}
					
					
					
					/* Wrappers and Icons */
					.inputWrapper							{position:relative;}
						
						.clearIcon							{display:none; position:absolute; top:0; right:0; width:40px; height:35px; background:url(formimages/clear.png) 50% 50% no-repeat; cursor:pointer; z-index:3;}
						.clearIconPadding					{padding-right:28px!important}
						
						.passwordIcon						{position:absolute; top:50%; right:5px; margin-top:-20px; width:35px; height:40px; background:url(formimages/wink.png) 5px 50% no-repeat; cursor:pointer; z-index:3;}
						.passwordIcon-show					{background-position:-40px 50%}
						.movePasswordIcon					{right:45px!important}
						
						.doubleIconPadding					{padding-right:80px!important}
					
					
					/* Error / Help messages */
					.messageContainer						{margin:5px 0 0; padding:6px 5px 5px 30px; }
					.messageContainer p						{margin:0; padding:0; font-size:1em}
					
					
					.errorContainer							{border:1px solid #df8f90; background:#ffd2d3 url(formimages/cross.png) 5px 50% no-repeat}				
					.helpContainer							{border:1px solid #9fc7f5; background:#dbecff url(formimages/help.png) 5px 50% no-repeat}
				

					/* Info Panels */
					.infoPanel								{margin:0 0 0 0}
					.infoPanel input							{float:left; margin:10px 5px 0 0; padding:0; border:0;}
					.infoPanel label							{display:block; margin:0; padding:8px 12px 10px 20px; cursor:pointer}
				

				
				/* Presentation */ 
				.formRowContainer ::-webkit-input-placeholder	{color:#ccc; font-style:italic}
				.formRowContainer input:-moz-placeholder			{color:#ccc; font-style:italic}

				
				
				/* Align radio/checkboxes */
				.compactList								{margin:0; padding:0; list-style:none;}
				.compactList li								{float:left; margin:0; padding:0px; overflow:hidden;}
				.compactList li input							{float:left; margin:10px 0 0;}
				.compactList li label							{float:left; padding:8px 20px 8px 5px;} 
				
				.singleRowList								{margin:0; padding:0; list-style:none;}
				.singleRowList li								{float:left; width:48%; margin:0; padding:0px; overflow:hidden;}
				.singleRowList li input							{float:left; margin:10px 0 0;}
				.singleRowList li label						{display:block; float:left; padding:8px 20px 8px 5px; font-size:0.85em}
				
				.multiColList								{margin:0; padding:0; list-style:none;
															-moz-column-count:1; -moz-column-gap:1em; 
															-webkit-column-count:1; -webkit-column-gap:1em;}
					
					.multiColList li							{margin:0; padding:0px; overflow:hidden;}
					.multiColList li input						{float:left; margin:10px 0 0; padding:0; border:0;}
					.multiColList li label						{display:block; margin:0; padding:8px 12px 10px 20px;}
	
	
		

	
	/*------------------------------------------------------------------------------------------------------------*/
	/*	Media Queries																	  					  	  */
	/*------------------------------------------------------------------------------------------------------------*/


		@media only screen and (min-width: 600px)
		{
			/*------------------*/
			/* 		WIDTHS 		*/
			/*------------------*/
			
				/* Clear width overrides for "large mobile" */
				.lastAtMobile 								{margin-right:3.8%;}
				.halfSizeUntilLargeMobile					{width:auto}
				.fullSizeUntilLargeMobile					{margin-bottom:0}
				
				
				
				/* Restore widths to correct values */
				.fourcol 									{width:30.8%;}
				.ie7 .fourcol 								{width:30.6%;}
				.sixcol 									{width:48.1%;}
				.ie7 .sixcol 								{width:48%;}
				.eightcol 									{width:65.4%;}
				.footerContainer .eightcol 					{width:100%;}

				
				/* Maintain width overrides for greater sizes */
				.fullSizeUntilDesktop 						{width:100%!important;}

		
		/* Footer */
		.footerLogos                                                            {float:left;}
		.footerLogos img                                                        {display:inline; margin:0 20px 10px 0; width:auto!important;}
		.footerLogos p                                                          {color:white; line-height:1.3em; font-size:1.1em; clear:both;}


		/* Search Bar */
		.searchContainer									{width:80%;}
			.searchFilterWrapper label						{display:inline; }
				

			
			
			/* Titles */
			.description								{display:block;}
			
			
			/* Image Banner Content */
			.banner .imageBanner-content					{top:20px; left:20px; margin:0 20px 0 0}
			
			
			/* 	Reset art direction 
				and crop for large images
			*/
			.eightcol img 								{width:100%;}
			img.pullTenLeft								{margin:0}
			img.pullQuarterLeft							{margin:0}
			img.pullCenterLeft							{margin:0}
			img.pullLeft 								{margin:0}
			
			
			/* Dividers */
			hr											{width:100%;}
			

			/* Discover */
			.discover a									{overflow:hidden; text-indent:0px; text-decoration:none; text-align:left; margin-right:3.8%; text-align:center; }
			
			.discover a h3								{position:relative; top:0; margin:10px 0 0; padding:0 0 5px; font-size:1.3em; font-weight:400; color:black}
			.discover a h3.single						{padding:0;}
			.discover a p								{position:relative; top:0; margin:0 0 0 80px; padding:0; font-size:1em; line-height:1.2em}
			
			.discover .icon								{float:none; margin:0 auto;}
				

				
			
			
			/* Masthead Carousel */
			.masthead-slide-content						{position:absolute; top:0; left:50%; margin:0 0 0 -45%;}

			.masthead-slide-content	input[type=button]	{float:left;}
			
			.masthead-pagination						{display:table; border-collapse:separate; width:100%;
														position:absolute; bottom:0; left:50%; width:92%; overflow:hidden; margin:0 0 0 -46%; z-index:1003}
			
			.lt-ie8 .masthead-pagination					{display:block;}
			

			.masthead-pagination td						{background:rgba(0,0,0,0.6); vertical-align:middle; border-right:1px solid white;}
			.masthead-pagination td:last-child 			{border:0; } 			
			.masthead-pagination td.active				{background:rgba(107,44,145,0.7)}
			.masthead-pagination td.active a			{color:white}
			
			.masthead-pagination td:hover				{background:rgba(107,44,145,0.7)}
			.masthead-pagination td:hover a				{color:white}
			
			.masthead-pagination td a					{display:block; padding:0px 10px; font-size:1em; text-decoration:none; color:white; text-align:center; }
			
			.no-js .masthead-pagination					{display:none;}
			
			
			/* Masthead Image & Carousel Shared Components */
			.masthead-slide-content h1 span,
			.masthead-slide-content .largeTitle span			{display:inline-block; padding:4px 10px 4px; line-height:40px;
															zoom:1;
															background-color: rgba(255,255,255,0.8);
															filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
															-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff)";}
			
			.masthead-slide-content .subTitle				{padding:10px 0 0; color:white;}
			.masthead-slide-content	.description			{padding:5px;
															zoom:1;
															background-color: rgba(255,255,255,0.8);
															filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
															-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff)";}

			
			/* News Carousel */
			#wrapper 									{position: relative; width: 100%; height:350px; overflow: hidden; background-color: #fff;}
			.no-js #wrapper 								{width:90%; max-width:1140px; height:auto; margin:0 auto}

			#carousel .slide 							{display:block; position:relative; float: left;}
			.no-js #carousel .slide 						{width:48%; margin:0 4% 20px 0}
			.no-js #carousel .slide:nth-child(2n) 		{margin-right:0}

			#carousel .slide span 						{display:block; width:90%; margin:0 auto;}
			.no-js #carousel .slide span 					{width:100%;}
			
			#carousel .slide .carouselContent 			{margin:0 auto; width:90%;}
			.no-js #carousel .slide .carouselContent 		{width:100%;}

			#prev, 
			#next 										{display: block; position: absolute; top: 0; width: 10%; height: 100%; z-index:1001;
														background-color: rgba(255,255,255,0.7);}

			
			.no-js #prev, 
			.no-js #next									{display:none;}
			
			#prev:hover, 
			#next:hover 									{background-color: rgba(255,255,255,0.8);}

			#prev 										{left: 0;
														background-image:url(../images/icon-carousel-left.png);
														background-position: 50% 20%;
														background-repeat:no-repeat}

			#next 										{right: 0;
														background-image:url(../images/icon-carousel-right.png);
														background-position: 50% 20%;
														background-repeat:no-repeat}
														
			.ie7 #prev,
			.ie8 #prev									{zoom:1;
														filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
														-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
														background-image:url(../images/icon-carousel-left-ie7.png);}
														
			.ie7 #next,
			.ie8 #next									{zoom:1;
														filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
														-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
														background-image:url(../images/icon-carousel-right-ie7.png);}
														
														



			/* Course Finder */			
			.librarySearchContainer 					{float:left; width:60%;}
			.courseFinderSelectWrapper					{float:left; width:30%; margin:0 10px 0 0;}
			.courseFinderInputWrapper					{float:left; width:75%; margin:0 10px 0 0;}
			.courseFinder-inner input[type=button], 
			.courseFinder-inner input[type=submit]		{width:20%; margin:0 auto; float:right;}

			.librarySearchAdvancedContainer				{float:right; width:35%;}
			
			
			/* Images & Captions */
			figcaption										{background:white;}
			.bkgnd-grey figcaption							{background:#ececed;}
			
			
			/* List Page */
			.listBlock									{border-top:1px solid #ccc; padding:35px 0}
			
			
			/* Grid & List Images */
			.gridBlock img								{width:40%!important;}
			/*.gridBlock .playButton					{top:23%; left:22%;}*/
			.listBlock img								{width:auto; max-width:100%;}


			.multiColList								{margin:0; padding:0; list-style:none;
														-moz-column-count:2; -moz-column-gap:1em; 
														-webkit-column-count:2; -webkit-column-gap:1em;}

		}
		

		@media only screen and (min-width: 700px)
		{
			/*------------------*/
			/* 		WIDTHS 		*/
			/*------------------*/
				
				/* Restore widths to correct values */
				.site-identifier							{padding:0 0 30px;}				
				.fourcol.fullSizeUntilDesktop 				{width:30.8%!important}
				.ie7 .fourcol.fullSizeUntilDesktop 			{width:30.6%!important}
				
				.sixcol.fullSizeUntilDesktop 				{width:48.1%!important}
				.ie7 .sixcol.fullSizeUntilDesktop 			{width:48%!important}
				
				.eightcol.fullSizeUntilDesktop 				{width:65.4%!important}


			
			/* Show Hide Sections */
			.showAtDesktop								{display:block;}
			
			/* Explore Manchester */
			.exploreManchester .fourcol,
			.exploreManchester .eightcol					{margin-bottom:3.8%}
			.exploreManchester .description				{display:none;}
			
			
			/* Masthead Carousel */
			/*.masthead-pagination td a					{padding:10px 10px 30px; font-size:1em; text-decoration:none;}*/
			
			
			/* Masthead Image */
			.masthead-slide-content						{padding:20px 0 0}
				
			
			/* Images & Captions */
			figcaption.botLeft								{padding:20px 20px 6px 3px;}
			figcaption.botRight							{padding:20px 3px 6px 20px;}
			
			
			/* Course Finder */
			.courseFinder-inner h3						{padding:0 0 0.3em}
			
			/* Blockquote */
			.blockquote img								{float:left; margin:0 60px 0 0}
			.oneColLayoutContainer .blockquote img		{float:none; margin:0 auto}
		}
		
		
		
		@media only screen and (min-width: 800px)
		{
			

			.fullSizeUntilMediumDesktop					{width:100%; margin-bottom:7%;}

			/* Footer */
			.footerContainer .sixcol.last					{margin:0; padding:0; border-top:0; width:48.1%;}


			/* Search Bar */
			.searchContainer								{width:85%;}

		
			
			

			/* Lists */
			.multiColList								{-webkit-column-count:3; -webkit-column-gap:2.6em;
														-moz-column-count:3; -moz-column-gap:3.8%; 
														column-count:3; column-gap:2.6em;}
												
			/* Masthead Carousel */
			.masthead-slide-content						{top:10px;}
			
			.masthead-slide-content	h1,		
			.masthead-slide-content	.largeTitle			{font-size:2em;}
			
			.masthead-slide-content	h1 span,		
			.masthead-slide-content	.largeTitle span		{line-height:44px}
			
			.masthead-slide-content	.description		{width:250px; font-size:1.1em; line-height:1.4em}
			.masthead-slide-content	input[type=button]	{padding:15px 30px 15px 15px; font-size:1.1em}

			
			
			/* Masthead Image */
			.masthead-slide-content						{padding:15px 0 0}
			.masthead-pagination td a					{padding:5px 10px;}

			
			/* Course Finder */
			.courseFinder-inner h3						{padding:0 0 0.8em}			


			/* TAB & ACCORDIAN */
			.tabAccordianContainer						{}
			
				.tabsContainer							{display:block; margin:0; padding:0; list-style:none; overflow:hidden; background:none;}
					
					.tabsContainer li					{margin:0; padding:0; float:left; display:block; background:#e1e1e1}
					.tabsContainer li a, .tabsContainer li a:visited
														{display:block; padding:10px 15px; color:#333; border-right:1px solid white; font-size:1em; text-decoration:none; }
					.tabsContainer li:last-child a		{border:0;}
					
					.tabsContainer li.active 			{background:#6B2C91;}
					.tabsContainer li.active a 			{color:white}

				.panel .panelTitle 						{display:none; }

		}
		
		
		
		@media only screen and (min-width: 960px)
		{
			/*------------------*/
			/* 		WIDTHS 		*/
			/*------------------*/		

				/* Restore widths to correct values */
				.threecol.fullSizeUntilLargeDesktop				{width:22.15%!important}
				
				.fourcol.fullSizeUntilLargeDesktop 				{width:30.8%!important}
				.ie7 .fourcol.fullSizeUntilLargeDesktop 		{width:30.6%!important}
				
				.sixcol.fullSizeUntilLargeDesktop 				{width:48.1%!important; margin-bottom:0}
				.ie7 .sixcol.fullSizeUntilLargeDesktop 			{width:48%!important;}

				.footerContainer .eightcol 						{width:65.4%!important;}
				.footerContainer .fourcol.last 					{width:30.8%!important; margin:0; padding:0; border-top:0;}

				.showAtFullDesktop								{display:block!important;}
		

			.site-identifier								{clear:none; margin:22px 0 0 220px; padding:0}


			/* Hide Mobile Menu Icon */
			.search-icon									{margin:0; padding:0; border:1px solid #ccc; border-radius:10px;}
			.mobile-menu-icon								{display:none;}



		
			/* COLOURS */
			.bkgnd-grey-atLargeDesktop						{background:#ececed}
			
			
			
			/* Section header padding */
			.allTriplePadding-atLargeDesktop				{padding:3em}


			
			/* NAV - PRIMARY */
			.primaryNav 									{display:block; }
			.primaryNav ul.megaMenu li.menuItem a.megaLink	{padding:25px 10px 42px;}
			
			.megaSubPanel									{width:13%}
			.megaSubPanel:nth-child(3n)						{border-right:1px solid #E4E4E4;}
			.megaSubPanel:last-child						{border-right:0}
			
			
			
			/* Left Nav */
			.leftMenuContainer							{width:225px; margin-right:40px}
			
			
			/* Footer */
			.footer-socialIcons	li 						{float:left!important;}
			
			
			/* Image Panel Content */
			.imagePanel-content .largeTitle				{line-height:1.1em;}
			
			
			/* News Carousel */
			.no-js #carousel .slide:nth-child(2n) 		{width:32%; margin:0 2% 20px 0}                     
			
			

			/* Library Search Options */
			.librarySearchOptions 								{margin:0 0 20px; overflow:hidden;}
			.librarySearchOptions .formRowContainer				{margin:0 10px 0 5px; float:left; width:25%;}
			.librarySearchOptions .formRowContainer label		{color:white;}

			
			/* Explore Manchester */
			.exploreManchester .description				{display:block;}
			
			
			/* Course Finder */
			.courseFinder-inner h3						{padding:0 0 1em}
			/*.courseFinder-inner a						{padding:1.2em 0 0}*/
			


			/* Masthead Carousel */
			.masthead-slide-content						{padding:25px 0 0}
			.masthead-pagination td a					{padding:10px;}

			/* Masthead Image */
			
			/* Masthead Image */
			.masthead-image .masthead-slide-content .subTitle				{padding:1em 0 0;}
			
			
			
			/* Discover */
			.discover a									{overflow:hidden; text-indent:0px; text-decoration:none; text-align:left}			
			.discover a h3								{position:relative; top:0; margin:18px 0 0 80px; padding:0; font-size:1.5em; font-weight:400; color:black}			
			.discover .icon								{float:left; display:block;  overflow:hidden;}


			/* Aside Smaller */
			.asideSmaller 								{display:block; margin:0 0 20px; padding:2%; border:1px solid #ccc; background:#F5F5F5}
			.asideSmaller p								{font-size:1em; line-height:1em;}



			
			/* Lists inside Cols */
			.sixcol dl.inline dt							{float:left; width:150px; padding:6px 0 0;}
			
			
			/* Blockquote */
			.oneColLayoutContainer .blockquote img		{float:left; margin:0 60px 0 0}
			
			
			/* Grid Page */
			.gridBlock									{position:relative; border-bottom:0}
			.gridBlock img								{float:none; width:100%!important; margin-right:10px}
			.gridBlock .largeTitle						{padding:10px 0;}
			.gridBlock p									{line-height:1.4em}
			/*.gridBlock .playButton						{position:absolute; top:45px; left:50%; margin:0 0 0 -40px; width:80px; height:80px; 
														background:url(../images/play-button-purple.png) 0 0 no-repeat;}*/
																			
																			
			/* Grid & List Images */
			.listBlock img								{}
			
			
			/* Responsive Table */
			table.responsive 							{display:table; width:100%;}
			table.responsive thead						{display:table-header-group}
			table.responsive tbody						{display:table-row-group}
			table.responsive tr							{display:table-row}
			table.responsive th							{display: table-cell;}
			table.responsive td 							{display: table-cell;}
			
			/* Hide table headers (but not display: none;, for accessibility) */
			table.responsive thead tr 						{position: relative; top: auto; left: auto;}

			table.responsive tr							{border:0}
			table.responsive th							{padding:6px; border:1px solid #383b3c; text-align:center;}
			table.responsive td							{padding:6px; border:1px solid #ccc; text-align:center;}
			
			
			/* Behave  like a "row" */
			table.responsive td 							{position: static;}
			
			/* Now like a table header */
			/* Top/left values mimic padding */
			table.responsive td:before 					{display:none; }

			/* END Responsive Table */
		}

		
		@media only screen and (min-width: 1200px)
		{			
			/* NAV - PRIMARY */
			.search-icon 										{margin:5px 0 0;}
			.search-icon img									{display:none; }
			.search-icon span									{display:inline-block; padding:10px; font-size:1.5em}
			
			.primaryNav ul.megaMenu li.menuItem a.megaLink			{padding:25px 25px 42px; font-size:1.1em}
			
			
			/* Search Bar */
			.searchContainer								{width:90%;}

			
			/* Aside */
			.leftOfAside								{float:left; width:63%}
			aside.content								{width:30%;}
			.asideRight									{float:right}


			
			/* Library Search Options */
			.librarySearchOptions 								{margin:0 0 20px; overflow:hidden;}
			.librarySearchOptions .formRowContainer				{margin:0 10px 0 5px; float:left; width:20%;}
			.librarySearchOptions .formRowContainer label		{color:white;}


			
			/* Image Panel Content */
			.imagePanel-content .largeTitle				{line-height:1.3em;}
			
			
			/* Course Finder */
			.courseFinder-inner h3						{padding:0 0 2em}
			/*.courseFinder-inner a						{padding:3em 0 0}*/
			
			.visibleUntilLargeDesktop					{display:none}
			
			
			/* Grid Page */
			/*.gridBlock .playButton						{left:46%;}*/
		}
		
		
		@media only screen and (min-width: 1300px)
		{
			/* Masthead Carousel */
			.masthead-slide-content						{width:1140px; margin:0 0 0 -570px;}

			.masthead-slide-content	h1,		
			.masthead-slide-content	.largeTitle 			{font-size:2.5em;}
			
			.masthead-slide-content	h1 span,		
			.masthead-slide-content	.largeTitle span		{line-height:53px}
			
			.masthead-slide-content	.description		{width:300px; font-size:1.7em; line-height:1.4em}
			
			.masthead-slide-content	input[type=button]	{padding:15px 40px 15px 30px; font-size:1.4em}
		
			.masthead-pagination						{position:absolute; bottom:0px; left:50%; width:1160px; margin:0 0 0 -580px}
			.masthead-pagination td a					{font-size:1.4em; padding:20px;}
			
			
			/* Discover */
			.discover a h3								{margin:30px 0 0 80px;}
		}
		
		
		
		@media only screen and (min-width: 1600px)
		{
			/* NAV - PRIMARY */
			.search-icon span									{font-size:1.8em}
			
			
			/* News Carousel */
			.no-js #carousel .slide:nth-child(2n) 		{width:24%; margin:0 1% 20px 0}
			.no-js #carousel .slide:nth-child(3n) 		{width:24%; margin:0 1% 20px 0}
			.no-js #carousel .slide 						{width:24%; margin:0 1% 20px 0}
			.no-js #carousel .slide:nth-child(4n) 		{margin-right:0}
		}

	
	/*------------------------------------------------------------------------------------------------------------*/
	/*	11. PRINT																								  */
	/*------------------------------------------------------------------------------------------------------------*/
	
	@media print
	{
		* 								{background: transparent !important;color: #000 !important; box-shadow: none !important;text-shadow: none !important;}

		a,
		a:visited 						{text-decoration: underline;}

		a[href]:after					{content: " (" attr(href) ")";}

		abbr[title]:after				{content: " (" attr(title) ")";}

		a[href^="javascript:"]:after,
		a[href^="#"]:after 				{content: "";}

		pre,
		blockquote 						{border: 1px solid #999;page-break-inside: avoid;}

		thead 							{display: table-header-group; /* h5bp.com/t */}

		tr,
		img 								{page-break-inside: avoid;}

		img 								{max-width: 100% !important;}

		@page 							{margin: 0.5cm;}

		p,
		h2,
		h3 								{orphans: 3;widows: 3;}

		h2,
		h3 								{page-break-after: avoid;}
	}
