            a, .ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
                color: #6B2C91;
                font-weight: 400;
                text-decoration: underline;             
            }           
            a:visited, .ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
                color: #af1600;
            }
            a:hover, .ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
                color: #343536;
            }
            html{
            	width:100vw;
            }            
            body{
                display: block;
                /*overflow:hidden;*/
                overflow: auto;
                max-height: 90vh;
                /*background-image: url("resources/images/bgrd.jpg");
                background-repeat: repeat;*/
            }
            header{ /* CM: moved some of the style from elements to CSS block */
                padding:0;
                padding-top:0px;
                width:100%;
                height:130px;
                border-bottom-style: solid;
                border-bottom-width: 3px;
                border-bottom-color: #CCCCCC;
                margin-top:10px;
                margin-bottom:5px;
            }
            #inheader{
                display:table;
                width:100%;
            }
            #header-image-cell{
				display:table-cell; 
				width:33%; 
				text-align:left; 
				padding-left:54px;            
            }            
            html{
                background-color: #F9F9F9;
            }           

            iframe::-webkit-scrollbar {  
                    /*display: none;*/
                }  
            
            iframe {
                overflow: hidden !important;
                /*position: absolute;*/
                width:100%; 
                /*width: 98%;*/ 
                /*height: 80%;*/
                /*height: 81%;
                height: calc(100vh - 180px);*/
                height: calc(100vh - 215px);
                max-height: calc(100vh - 215px);
				border:none;
                /*margin-left:10px;*/           
            }           
            
            div{
                vertical-align:middle;
                max-width:100vw;
            }
            /* CM: scaling classes to avoid clipping or distortion */
            .books-img{
                display:block; 
                margin-left:auto; 
                margin-right:auto; 
                /*width:100vw;%/ 
                /*max-width:calc(141vh - 1.41 * 170px);*/ 
                /*height:71vw;*/  
                /*max-height:calc(100vh - 270px);*/
                /*width:100%;*/
                /*height:100%;*/
                /*max-width:calc(100vw);*/
                max-width:100%; 
                max-height:calc(100vh - 270px);
				width:auto;
                height:auto;                
                /*style="max-width:100%; height:auto;"*/
            }
            .scale141, .scale141f{
                display:block; 
                margin-left:auto; 
                margin-right:auto; 
                width:100vw; 
                max-width:calc(141vh - 1.41 * 170px); 
                height:71vw;  
                max-height:calc(100vh - 180px); 
            }
            .scale71, .scale71f{
                display:block; 
                margin-left:auto; 
                margin-right:auto; 
                width:100vw; 
                max-width:calc(71vh - 0.71 * 170px); 
                height:141vw; 
                max-height:calc(100vh - 170px); 
            }
            .scale141f{
                max-width:calc(141vh - 1.41 * 275px) !important; 
                max-height:calc(100vh - 275px) !important; 
            }
            .scale71f{
                max-width:calc(71vh - 0.71 * 275px) !important; 
                max-height:calc(100vh - 275px) !important; 
            }
            
            #esc-top-nav{
                width: 100%;
                margin-bottom: 1em;
                /*margin-top: -80px;*/
            }
            
            #main-footer{ /* CM: made this float for any height */
                width:100%;
                /* position:absolute; */ 
                top:calc(100vh - 105px);            
                margin-bottom: 5px;
                /*margin-top: 1.2em;*/              
            }
            
            .esc-home-div{
                text-align: center;
            }
            
            #esc-main-content{
                /*margin-top: 2em;*/
            }
            
            #esc-main-logo{
                margin-top:-10px;
                /* margin-left:10px */
                /* CM: reworking margins to match UoM brand */
            }
            
            #esc-home{
                text-align: center;
                /*display: inline;*/
            }
            
            #subLoc, #esc-contact{
                max-height: 70vh;
                /*max-height: 650px;*/
            }           
            
            .esc-tile{
                width: 30%;
                height: 200px;
                  
                moz-box-shadow: 8px 7px 10px 8px #363536;
                -webkit-box-shadow: 8px 7px 10px 8px #363536;
                box-shadow: 8px 7px 10px 8px #363536;
                                 
                text-shadow: 2px 2px 3px #afa6b3;
                           
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box; 
                
                font-size: 3em;
                
                /*font-family: Georgia,Times,serif,"Open Sans",sans-serif;*/
                font-style: bold;
                
                display:inline-block;
                
                padding-top:20px;
            }
            
            .esc-tile:hover, .esc-home-img:hover, .esc-nav:hover, .esc-icon img, .esc-a-z:hover, 
            #esc-all:hover, .esc-swipe:hover, .esc-floor-link:hover, .esc-active-widget:hover, 
            .esc-inactive-widget:hover, .esc-back:hover, .opening-time:hover{
                cursor: pointer;
            }
            
            .esc-icon img{ /* CM: while we are using the free (max 100px) icons - to avoid stretching */
                /*max-width:200px;
                max-height:200px;*/
                max-width:125px;
                max-height:125px;
            }
                        
            .esc-aglc{
                background-color: rgb(79, 129, 189);
                border: thin solid black;
                border-radius: 20px;
                padding: 7px;
                color: white;
                vertical-align: top;
                /*padding-right: 12px;*/
                /*min-height: 400px;*/
                height: 250px;
			    -webkit-border-radius: 20px;
			    -moz-border-radius: 20px;                
            }
            
            .esc-3column{
                width: 30%;
                display: inline-block;
            }

            .esc-4column{
                width: 22%;
                display: inline-block;
            }

            .esc-middle-row{
                margin-top: 20px !important;
                /*margin-bottom: 10px;*/
            }
            .esc-end-row{
                margin-bottom: 10px;
            }
            .esc-top-row{
                margin-top: 10px;
            }
                        
            .ws-number{
                text-align: right;
                padding-right: 10px;
            }
            #esc-last-updated-input, #esc-last-updated-all-input{
                border: none;
                width: auto;
                text-align: right;
                background:transparent;
            }               
            
            #esc-floor-plans-widgets{
                text-align: center;
            }
            
            .esc-floor-plan-icon h3{
                color:#FFFFFF; 
                /*font-weight: bold;*/          
            }
            
            .esc-floor-plan-icon{
                padding-top:10px;
                padding-bottom:10px;
                border-radius: 4px;
			    -webkit-border-radius: 4px;
			    -moz-border-radius: 4px;
            }
            
            .esc-bgrd-blue{
                background-color: #2dbdf2;          
            }
            
            .esc-blue{
                color: #2dbdf2;
            }
            
            .esc-bgrd-green{
                background-color: #107d08;
            }

            .esc-green{
                color: #107d08;
            }
            
            .esc-bgrd-orange{
                background-color: #f6850b;
            }

            .esc-orange{
                color: #f6850b;
            }

            .esc-bgrd-purple{
             background-color: #6e009d;
            }

            .esc-purple{
             /*color: #6e009d;*/
             color: #660099;
            }

            .esc-bgrd-red{
                background-color: #d81c03;
            }
            
            .esc-red{
                color: #d81c03;
            }

            .esc-zebra{
                background-color: rgba(110, 0, 157, 0.1);
            }

            #esc-plans-widgets span{
                font-size: 2em; 
                font-weight: bold; 
                margin-left:0.1em; 
                margin-right:0.1em;
            }
            
            .ui-width-5em {
                width: 5em !important;
            }
            .ui-width-8em {
                width: 8em !important;
            }
            .ui-width-10em {
                width: 10em !important;
            }
            .ui-width-15em {
                width: 15em !important;
            }
            .ui-width-20em {
                width: 20em !important;
            }
            .ui-width-25em {
                width: 25em !important;
            }
            .ui-width-30em {
                width: 30em !important;
            }
            .ui-width-35em {
                width: 35em !important;
            }
            .ui-width-40em {
                width: 40em !important;
            }
            .ui-width-45em {
                width: 45em !important;
            }
            .ui-width-50em {
                width: 50em !important;
            }
            .ui-width-10percent {
                width: 10% !important;
            }
            .ui-width-20percent {
                width: 20% !important;
            }
            .ui-width-30percent {
                width: 30% !important;
            }
            .ui-width-40percent {
                width: 40% !important;
            }
            .ui-width-50percent {
                width: 50% !important;
            }
            .ui-width-60percent {
                width: 60% !important;
            }
            .ui-width-80percent {
                width: 80% !important;
            }
            .ui-width-100percent {
                width: 100% !important;
            }
            
            .ui-form-row {
                border: 0 !important;
                margin: 0;
                padding: 0 !important;
            }
            .ui-form-row {
                padding: 0.3em 0 !important;
            }
            .ui-center {
                text-align: center;
            }
            .ui-left {
                text-align: left;
            }
            .ui-right {
                text-align: right;
            }

            .ui-dialog {
                border: 1px solid #999999 !important;
                /*border: 1px solid #660099 !important;*/
                -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8) !important;
                -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8) !important;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.8) !important;
                padding: 0;
                margin: 0;
            }
            .ui-help-dialog {
                height: auto !important;
                width: 40% !important;    
            }
            .ui-dialog-titlebar {
                border: none;
                border-bottom: 1px solid #a8a8a8 !important;
                /*border-bottom: 1px solid #660099 !important;*/
                background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
                background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
                background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
                font-weight: normal;
                color: #333 !important;
                margin: 0 !important;
                padding: 0;
                text-align: left;
            }
            
            .ui-dialog-titlebar button{
                float:right;
            }
            
            .ui-dialog-title {
                vertical-align: top;
            }
            .ui-dialog-content {
                margin: 0 !important;
                /*padding: 1.2em 1.4em !important;*/
                padding: 0.5em 0.5em !important;
                background-color: #f5f5f5;
            }
            .ui-dialog-footer {
                background-color: #F5F5F5;
                border-top: 1px solid #CCCCCC !important;
                /*border-top: 1px solid #660099 !important;*/
                text-align: right !important;
                padding: 0.8em 1em;
            }
            iframe, .ui-dialog-content {
                background-color: white;
            }
            .ui-dialog-buttonpane {
                background-color: #f5f5f5;
                border-top: 1px solid #cccccc;
                /*border-top: 1px solid #660099;*/
                height:30px;
                padding-top:8px;
                padding-left:5px;
            }
            
            .ui-mobile .ui-page-active{
                overflow: visible;
            }
            
            .inline_block {
                float: left;
                display: inline-block;
                margin-right: 2em;
            }
            
            .esc-div-row{
                display: inline-block;
                margin-bottom: 0.2em;
                width: 100%;
            }
            .esc-div-row label {
                display: inline-block;
            }
            .esc-search-div{
                margin-bottom: 0em;
            }
            .esc-search-div > div{
                display: block;
            }
            #esc-search{
				background-size:contain; 
				background-position:center; 
				background-image: url('../images/error2.png'); 
				background-repeat: no-repeat;             
            }
            #esc-map, #esc-quaire, #esc-pc-all{
				background-size:64px 64px; 
				background-position:center; 
				background-image: url('../images/ajax-loader.gif'); 
				background-repeat: no-repeat;
				             
            }            
            .esc-invisible{
                display: none;
            }
                        
            .esc-3col-left{
                width: 30%;
                margin-right: 10px;
                vertical-align: top;
            }

            .esc-4col-left{
                width: 20%;
                margin-right: 10px;
                vertical-align: top;
            }
            
            .esc-3col-middle{
                width: 30%;
                margin-right: 20px;
                margin-left: 20px;
            }

            .esc-4col-middle{
                width: 20%;
                margin-right: 20px;
                margin-left: 20px;
            }
            
            .esc-3col-right{
                width: 30%;
                margin-left: 10px;
            }
            
            .esc-4col-right{
                width: 20%;
                margin-left: 10px;
            }
            
            .esc-2col-left-30percent{
                width: 30%;
                margin-right: 10px;
                vertical-align: top;
            }
            .esc-2col-left-70percent{
                width: 70%;
                margin-right: 10px;
                vertical-align: top;            
            }
            .esc-2col-right{
            }
            .esc-icon{
                display:inline-block;
                text-align:center;
                min-width:200px;
                /*margin:10px;*/
            }           
            .esc-icon h3{
                padding:0px;
                padding-top:10px;
            }
            
            .esc-floor-plan img{
    			max-height: calc(100vh - 280px);
    			/*width: auto;*/
    			/*width:100%;*/
   			}
   			
   			.ios-floor-plan{
   				width:100% !important;
   			}
            
            .esc-floor-plan{
            	overflow:hidden;
            }

            table{
                border: 1px solid #CECECE;
                width:100%;
            }
            td, th, .esc-a-z, #esc-all{
                border: 1px solid #CECECE;
            }
            /*
            th, .esc-a-z, #esc-all{
                font-weight: bold;
                font-size: 1.0em;
            }
            */
            
            th{
                text-align: left;
            }
            
            .esc-a-z, #esc-all{
                padding:5px;
                margin-left:-1px;
                margin-right:-1px;
            }
            
            .esc-swipe{
                /*height:600px;*/
                /*max-height:calc(100vh-200px);*/
                /*height:calc(100vh - 320px);*/
            }
            
            .esc-nav-widgets{
                text-align:center;
                /*margin-top:30px;*/
                margin-top:10px;
}
            
            #esc-opening-times-table, #subLocData{
                margin-top:10px;
                /*border: 2px solid #660099;*/
                border-width: 2px;
                border-style: solid;                
                border-color: rgba(102, 0, 153, 0.5);
            }
            
            #esc-opening-times-table tr, #esc-opening-times-table td, #esc-opening-times-table th, #subLocData tr, #subLocData td, #subLocData th{
                padding: 5px;
                border-width: 1px;
                border-style: solid;                
                border-color: rgba(102, 0, 153, 0.5);
            }

            #esc-opening-times-table th, #subLocData th{
                background-color: rgba(153, 153, 153, 0.5); 
                text-shadow: 0 0;
                font-weight: normal;
                font-size: 1.1em;           
            }
            
            .esc-a-z, #esc-all{
                text-shadow: 0 0;
                color: white;
                background-color: rgba(110, 0, 157, 0.8);
                font-weight: normal;
                font-size: 1.2em;
                min-width: 1.2em;
                text-align: center;
            }

            #esc-feedback{
                background-color: white;
                padding: 10px;
                border-width: 1px;
                border-style: solid;                
                border-color: rgba(102, 0, 153, 0.8);
                font-size: 0.8em;
            }

            #esc-feedback h1{
                text-align: center;             
            }
            
            #esc-feedback p.subHeading{
                /*padding: 0 0;*/
            }
            
            #esc-feedback p, .esc-alert p{
                padding: 0 0 0.5em 0;
            }

            #esc-feedback h2, .esc-alert h2{
                font-size: 2.3em;               
            }

            #esc-submit{
                background-color: #660099;
                color: white;
            }
            
            /*BA: Style help dialog - start*/
            .esc-alert{
            	/*position: absolute;*/
                max-width: 50vw;
                max-height: 50vh;
                left: 25vw;
                top: 25vh;
            }
            .esc-alert .ui-dialog-titlebar {
                /*height: 25px;*/
                border-radius: 0 0;
                vertical-align: middle;
			    -webkit-border-radius: 0px;
			    -moz-border-radius: 0px;
			    height: 30px;
			    border-radius: 0 0;
			    padding-top: 10px;
			    padding-left: 5px;
			    font-size: 1.2em;
			    padding-right:5px;
			    display:inherit;
            }
                                   
            .esc-alert button {
                background-color: #660099;
                color: white;
                margin-top:-5px;
            }           
                                    
            /*BA: Style help dialog - end*/
            
        #esc-pc-all, .highcharts-container{
        	/*min-width:100%;*/
        	max-width:100%;
        	/*height: auto !important;*/
        }
        
        #esc-pc-all{
			min-height:1000px;
			/*min-height:560px;*/ 
			margin-left:0px;
			/*max-height:calc(100vh - 180px);*/
			max-height:2000px;        
        }
            
        /* min width of 320px */
        
        .headerContent, .footerContainer{
            display:none !important;
        }
        
        *, input, select, textarea, button{
            /*font-family: 'Open Sans', sans-serif;*/
            font-family: 'OpenSans', 'Open Sans', sans-serif;
            /*font: 100% 'Open Sans'*/
        }

        .esc-inactive-widget{
            width:50px;
            height:50px;
            font-size: smaller;         
        }

        .esc-active-widget{
            width:70px;
            height:70px;
            font-size: larger;      
        }

		#esc-find-book h2{
		    font-size: 1.2em;
		}

		#esc-find-book p, #esc-find-book li{
		    font-size: 1em;
		}
		
		h2{
		    font-weight: 300;
		    font-size: 2.3em;
		    line-height: 1em;
		    margin: 0;
		    padding: 0 0 0.8em;
		    color: #1d1d1d;
		}       	

		
		#esc-find li{
		    font-size: 1.2em;
		    /*line-height: 2em;*/
		    /*padding: 0 0 1em;*/
		    color: #333;
		    font-weight: 400;		       
	    }   
        
		input[type=submit], input[type=button] {
		    background-color: #6b2c91;
		    color: #fff;
		    border: 0;
		    /* min-width: 150px; */
		    padding: 6px 15px;
		    font-weight: 400;
		    -webkit-border-radius: 4px;
		    -moz-border-radius: 4px;
		    border-radius: 4px;
		}
		
		input, select, textarea, button {
		    /*margin: 0;*/
		    /*font: 100% sans-serif;*/
		}		
.table{
	display:table;	
}

.table-row{
	display:table-row;	
}

.table-cell{
	display:table-cell;
}

.table-cell p{
	padding-bottom:0;
}

.table-head{
	display:table-header-group;
	background-color:#383B3C;
	font-weight:bold;
	font-size: 16px;
	line-height: 1.5;
	padding:6px;
	color:#FFFFFF;
	border:solid 1px #383B3C;
}

.table-head .data-row, .table-head .data-cell{
	color:#FFFFFF;
	font-weight:bold;
	font-size: 16px;
	line-height: 1.5;
	padding:6px;
	border:solid 1px #CCCCCC;
}

.table-body{
	display:table-row-group;
}

.table-foot{
	display:table-footer-group;	
}

/*BA: data-row and data-cell differentiate using actual data table from using table divs for display purposes only. */
.data-row{
	display:table-row;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	color:#343536;
	padding:6px;
}

.data-cell{
	display:table-cell;
	font-weight: normal;
	font-size:16px;
	line-height:1.5;
	color:#343536;
	border:solid 1px #CCCCCC;
	padding:6px;
}

.mobile-device{
	font-weight:400 !important;
}

#message-div li{
	font-size:inherit;
	color:inherit;
}

#floor-plans-container{
 	text-align: center; 
 	max-height:65vh; 
 	overflow:hidden;	
}

.opening-time figure img{
	/*max-width:90%; 
	height:auto;*/
	max-height:50px;
	width:auto;
	display:none;	
}

.opening-time figcaption{
	max-width:75%;
	/*padding:5px;*/
	background:transparent;
	top:0px;
	margin-left:100px;
	z-index:0;
}

.opening-time-head{
 	/*padding-top:10px;*/ 
 	/*padding-bottom:10px;*/
 	/*height:50px;*/
    max-width: 80%;
    display: inline;
    /*text-decoration: underline;*/
    display:inline-block; 	
}

.opening-time-head .largeTitle{
	text-decoration:underline;
	font-weight:100;
	color:#6B2C91;	
}

.opening-time{
 	/*border-bottom:1px solid black;*/
 	/*line-height:2em;*/ 
 	width:100%;
 	/*padding-bottom:10px;*/
}

.opening-time-detail{
	padding-top:5px;
}

.detail-img{
	width:98%; 
	height:auto; 
	/*padding-top:5px;*/
	padding-bottom:0px;	
	margin-top:5px;
	border: 4px solid #6B2C91;
}

.map-link{
	margin-left:10px;
}

#esc-find2 li{
	color:#333;
}

#esc-find2 h2{
	padding:0;
}

/************************* BA: media queries - start **************************/
 /*
 @media screen and (max-width: 320px){
     html{
         width: 100%;
         overflow:auto;
     }
     body{
         overflow:auto;
     }     
 }

 @media screen and (max-width: 360px){
     #esc-back, #esc-back img{
     	display:none !important;
     }
 }
 */
 
 /* mobile phones (portrait and landscape) - start */
  @media screen and (max-width:820px) and (max-height:820px){
     html{
         /*width: 100%;*/
         width:100vw;
         overflow:auto;
     }
     body{
         overflow:auto;
     }     
     #esc-back, #esc-back img, #esc-help-img{
     	display:none !important;
     }
     .esc-home-div{
     	margin-left:5px !important;     	
     }
     .ui-dialog{
     	display:none !important;
     }
	.esc-floor-plan img {
	    max-height: calc(100vh - 280px);
	    width: 100%;
	}
	#esc-opening-times-container{
		margin-left:0px;
		margin-right:0px;
	}
	#esc-opening-times-parent{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.image-cell{
		width:20% !important;
	}
	.opening-time-table-cell{
		width:80% !important;
	}
	.opening-time-table-content{
		font-size:1em !important;
	}
	#header-image-cell{
		padding-left:10px;            
    }            
	#books-text2 img {
	    max-width: 100% !important;
	    height: auto !important;
	}	
	#esc-back, #esc-back img, #esc-help-img{
		display:none !important;
	}
	.esc-icon h3{
		padding-top:0;
	}
     .esc-icon{
         width: 20%;
         margin-left:0 !important;
         margin-top:30px !important;
     }
     .image-cell{
     	width:20% !important;
     }
	
 }
 /* mobile phones (portrait and landscape) - end */
 
 
 /* mobile phones landscape only - start */
 @media screen and (max-width:820px) and (max-height:420px){ 
 	.esc-floor-plan img {
	    max-height: calc(100vh - 280px);
	    width: auto !important;
	}	
	.ios-floor-plan{
		width:auto !important;
	}
	.esc-icon{
		min-width:auto;
	}
	.esc-icon h3{
		padding-top:0;
		font-size:1.0em;
	}
		
 }
 /* mobile phones landscape only - start */

 /* mobile phones portrait only - start */
 @media screen and (max-width:420px) and (max-height:820px){ 
     .esc-icon{
         width: 100%;
         margin-left:0 !important;
         margin-top:30px !important;
     }
 }
 /* mobile phones portrait only - start */

 
 @media screen and (min-width:321px) and (max-width:1023px){
     html{
         /*width: 100%;*/
         width:100vw;
     }
 }

/* iPad - start */
/* landscape */
 @media screen and (min-width:1023px) and (max-width:1025px) and (min-height:767px) and (max-height:769px) {
	iframe{
		max-height:calc(100vh - 240px);
	}
	#esc-home {
	    text-align: center;
	    overflow: auto;
	    max-height: calc(100vh - 200px);
	}		
}

/* iPad - end */


/* kiosk - start */
@media screen and (min-height:1900px){
	.esc-floor-plan img{
		max-width: 100%;
		height: auto;
	}	
}

/* kiosk - end */

/* galaxy tab A specific (landscape) - start */
@media screen and (min-width:1270px) and (max-width:1290px) and (min-height:790px) and (max-height:810px){
	 .esc-middle-row{
	     margin-top: 60px !important;                
	 }
	 .esc-top-row{
	     margin-top: 30px !important;
	 }
	.esc-floor-plan img {
	    max-height: calc(100vh - 280px);
	    width: auto;
	}
	.esc-icon h3 {
	    padding:0px;
	    padding-top:0px; 
	}		 
}
/* galaxy tab A specific (landscape) - end */

/************************** BA: media queries - end ****************************/

